<div class="container">
    <div class="text-start row justify-content-md-center">
        <div class="col-md-auto">
            <h2 class="quick_menu_title">INVESTORS</h2>
        </div>
    </div>
    <div class="row justify-content-md-center">

        <div class="col-md-auto">

            Where Beauty & Wellness Connect

        </div>
        <br><br>
    </div>
    <div class="row justify-content-md-center">

        <div class="col-md-auto">

            Need Help? Call +44 203 855 5733 | <a href="mailto:hello@thenutricosmeticcompany.com">Email Customer Care</a> | <a [routerLink]="['/faqs']">FAQ’s </a>| <a
            [routerLink]="['/orders-shipping']">Orders & Shipping</a>
            <br><br>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-auto about_des">
            <p>The Nutricosmetic Company is an online destination that specializes in nutritional cosmetics, beauty, and
                wellness. We intend to reinvent how people discover and shop beauty and wellness by connecting shoppers
                with the world’s most sought-after brands through our curated online marketplace, personal shopping
                technology, and inspiring content.
            </p>
        </div>
        <div class="col-md-auto about_des">
            <p>We operate a platform purpose-built to connect the nutricosmetic ecosystem worldwide and are the only
                truly global digital marketplace at a scale where lovers of beauty and wellness can shop for an
                unrivaled range of incredible products from anywhere in the world.
            </p>
        </div>
        <div class="col-md-auto about_des">
            <p>
                Our vision was to create a single operating system that could address the complex demands of consumers
                and brands alike. Not just another eCommerce store, we wanted to help educated and teach individuals,
                aiding them with the right products for their beauty and wellness journeys. The Nutricosmetic Company
                delivers the ultimate curation of product and content through our website but we're not stopping there.
                A pioneer of innovation, we want to make it easier than ever to shop via a global, multi-channel
                ecosystem and providing a seamless shopping experience across mobile, tablet, and desktop.
            </p>
        </div>
        <div class="col-md-auto about_des">
            <p>
                The Nutricosmetic Company is where beauty and wellness connect.
            </p>
        </div>
    </div>

    <div class="text-start row justify-content-md-center">
        <div class="col-md-auto about_des_title">
            <h2 class="quick_menu_title">WANT MORE INFO?</h2>
        </div>
    </div>
    <div class="about_des">For further details on investment opportunities across our platform, contact our team of
        in-house specialists.</div>


    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <button type="button" class="add-address-btn" [routerLink]="['/get-in-touch']">contact us</button>
            <br><br>
        </div>

    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <p>For any other questions? Please read our <a [routerLink]="['/term-conditions']">Terms & Conditions</a>.
            </p>

        </div>
    </div>

</div>