<div class="container">
    <div class="text-start row justify-content-md-center">
        <div class="col-md-auto">
            <h2 class="quick_menu_title">THE NUTRICOSMETIC COMPANY</h2>
        </div>
    </div>
    <div class="row justify-content-md-center">

        <div class="col-md-auto">

            Beauty Starts Beneath The Surface

        </div>

    </div>
    <div class="row justify-content-md-center">

        <div class="col-md-auto">

            Need Help? Call +44 203 855 5733 | <a href="mailto:hello@thenutricosmeticcompany.com">Email Customer Care</a> | <a [routerLink]="['/faqs']">FAQ’s </a>| <a
            [routerLink]="['/orders-shipping']">Orders & Shipping</a>
            <br><br>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <p>Our mission at The Nutricosmetic Company is to create an online destination that specializes in
                nutritional cosmetics, beauty, and wellness products. We intend to reinvent how people discover and shop
                beauty and wellness by connecting shoppers with the world’s most sought-after brands through our curated
                online marketplace, personal shopping technology, and inspiring content.
            </p>
            <p>The Nutricosmetic Company is the destination for those looking for inspiration, solutions, and expert
                advice on beauty that truly starts beneath the surface. We are a dedicated team of beauty and wellness
                devotees on the hunt for the best beauty and wellness products the world has to offer. Unlock glowing
                skin, glossy locks to a healthy gut with our wide range of products and dedicated support.
            </p>
            
            <p>Gone were the days of being overwhelmed by the sheer volume of products available and underwhelmed by
                reviews and targeted support. We’re on a quest to provide you with only authoritative products that you
                can trust. We pride ourselves on our transparency, we list full ingredients and publish all reviews and
                only sell the products that blow us away.
            </p>
            <br>



        </div>
    </div>

    <div class="text-start row justify-content-md-center">
        <div class="col-md-auto">
            <h2 class="quick_menu_title">OUR MARKETPLACE</h2>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <p>We operate a global digital marketplace at a scale where lovers of beauty and wellness can shop for an
                unrivaled range of incredible products from anywhere in the world, ranging from global wellness
                powerhouses to emerging new brands. Our consumers can shop across categories including skin, mind, body,
                hair & nails, plus wellness, and we ship to over 170 countries around the world.
            </p>
            <p>
                We offer a range of services for consumers to make shopping on The Nutricosmetic Company a great
                experience. Our website is offered in 6 different languages, dedicated customer support, and great
                delivery options including priority and tracking for your peace of mind. We also provide  +Targeted
                Support, unique content, expert advice, personalized discovery, and other services to help our customers
                navigate the breadth of products available on The Nutricosmetic Company.
            </p><br>


        </div>
    </div>

    <div class="text-start row justify-content-md-center">
        <div class="col-md-auto">
            <h2 class="quick_menu_title">OUR FUTURE</h2>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <p>Our vision was to create a single operating system that could address the complex demands of consumers
                and brands alike. Not just another eCommerce store, we wanted to help educated and teach individuals,
                aiding them with the right products for their beauty and wellness journeys. The Nutricosmetic Company
                delivers the ultimate curation of product and content through our website but we're not stopping there.
                A pioneer of innovation, we want to make it easier than ever to shop your favorite products via a
                global, multi-channel ecosystem and providing a seamless shopping experience across mobile, tablet, and
                desktop.
            </p>

        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <p>Explore the marketplace at <a href="">Thenutricosmeticcompany.com</a>.
            </p>

        </div>
    </div>

</div>