<div class="row mt-4">
    <div class="col-12 mt-6 text-start">
        <h2 class="quick_menu_title">CONTACT US</h2>
    </div>
    <div class="col-12 accordion-items-footer-pages">
        <ngb-accordion [closeOthers]="true">
            <ngb-panel id="tab-1" title="Customer Care">
                <ng-template ngbPanelContent>
                    <p>The Nutricosmetic Company is available, 9am - 6pm GMT, Mon-Fri.
                        <br><br>
                        We’re committed to our customer promise all year round, however during busy
                        periods like holidays, sales and special
                        campaigns you might experience higher waiting times from our customer care team.
                        <br><br>
                        Your deliveries may take longer than usual to get to you, but don’t worry,
                        you’ll receive a confirmation email as soon
                        as it’s shipped.
                        <br><br>
                        For more information, visit the <a href="">FAQs</a>.
                        <br><br>
                        Email:
                        <a href="">
                            hello@thenutricosmeticcompany.com
                        </a>
                        <br><br>
                        Call 0203 855 5733 (UK) or +44 203 855 5733 (from a mobile or internationally),
                        9am – 6pm GMT, Mon-Fri.
                        <br><br>
                        Please note, all calls may be recorded for training purposes.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-2" title="Press">
                <ng-template ngbPanelContent>
                    <p>
                        <a href="">
                            press@thenutricosmeticcompany.com
                        </a>
                        <br><br>
                        If you are a journalist and require images for editorial purposes, please e-mail
                        your requests
                        to press@thenutricosmeticcompany.com. Please note that we do not hold samples,
                        however, we may be able to put you in
                        touch with our Brand Partners to obtain these.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-3" title="Affiliates">
                <ng-template ngbPanelContent>
                    <p>
                        <a href="">
                            affiliates@thenutricosmeticcompany.com
                        </a>
                        <br><br>
                        If you are interested in joining The Nutricosmetic Company Affiliate Programme,
                        please e-mail us and include the name
                        and URL of the website and social media handle.
                        <br><br>
                        To find out more about our affiliate scheme, please <a href="">click here</a>.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-4" title="Brands & Partners">
                <ng-template ngbPanelContent>
                    <p>
                        <a href="">
                            partners@thenutricosmeticcompany.com
                        </a>
                        <br><br>
                        Would you like to join The Nutricosmetic Company as a retail partner?
                        <br><br>
                        Please e-mail us with your company details, including a website address if you
                        have one.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-5" title="Editors">
                <ng-template ngbPanelContent>
                    <p>
                        <a href="">
                            editors@thenutricosmeticcompany.com
                        </a>
                        <br><br>
                        For potential contributors, photographers, nutrition, beauty & lifestyle
                        journalists or editors.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-6" title="Careers">
                <ng-template ngbPanelContent>
                    <p>
                        <a href="">
                            careers@thenutricosmeticcompany.com
                        </a>
                        <br><br>
                        If you are interested in working at The Nutricosmetic Company, visit our <a href="">Careers
                            Page</a> which will give you information on
                        what vacancies exist and how to apply.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-7" title="Feedback & Suggestions">
                <ng-template ngbPanelContent>
                    <p>
                        <a href="">
                            feedback@thenutricosmeticcompany.com
                        </a>
                        <br><br>
                        We're always looking to improve our services and would love to hear your
                        feedback.
                    </p>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>
