<div class="Container">
    <div class="row justify-content-md-center PageContent">
        <div class="col-md-4 col-md-offset-6">
            <form #userLogin="ngForm" (ngSubmit)="login(userLogin.value)">
                <header class="Form__Header">
                    <h1 class="Form__Title Heading u-h1">Login</h1>
                    <p class="Form__Legend">Please enter your e-mail and password:</p>
                </header>
                <p class="Form__Alert Alert Alert--error" *ngIf="authError">Incorrect email or password.</p>
                <div class="Form__Item">
                    <input type="email" class="Form__Input" required="required" name="email"
                    ngModel
                    email
                    #email="ngModel"
                    required placeholder="Email" 
                    aria-label="Email">
                </div>

                <div class="Form__Item">
                    <input type="password" class="Form__Input" required="required" placeholder="Password"
                    name="password"
    ngModel
    minlength="5"
    maxlength="20"
    #password="ngModel"
                        aria-label="Password">
                    <button type="button" class="Form__ItemHelp Link Link--primary"
                        data-action="toggle-recover-form" routerLink="../reset-password-request">Forgot password?</button>
                </div>

                <button type="submit" class="Form__Submit Button Button--primary Button--full">Login</button>

                <div class="Form__Hint Form__Hint--center">
                    <span class="Text--subdued">Don't have an account?</span>
                    <a routerLink="../register" class="Link Link--secondary"> Create one</a>
                </div>

                <div class="sl-container">
                    <div class="sl-wrapper">
                        <div class="sl-vertical social-wrap oxi_icon_right" style="padding-left:0px;">


                            <a class="social_login facebook" url="">
                                <i class="fa fa-facebook oxi_icon oxi_icon_facebook"></i>
                                <span class="icon_span">Sign in with Facebook</span>
                            </a>


                            <a class="social_login google" url="">
                                <i class="fa fa-google oxi_icon oxi_icon_google"></i>
                                <span class="icon_span">Sign in with Google</span>
                            </a>


                            <a class="social_login twitter" url="">
                                <i class="fa fa-twitter oxi_icon oxi_icon_twitter"></i>
                                <span class="icon_span">Sign in with Twitter</span>
                            </a>


                            <a class="social_login linkedin" url="">
                                <i class="fa fa-linkedin oxi_icon oxi_icon_linkedin"></i>
                                <span class="icon_span">Sign in with LinkedIn</span>
                            </a>
                        </div>
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>