<div class="row mt-4">
    <div class="col-12 mt-3 text-start">
        <h2 class="quick_menu_title">PAYMENT & PRICING</h2>
    </div>
    <div class="col-12 accordion-items-footer-pages">
        <ngb-accordion [closeOthers]="true" activeIds="tab-1">
            <ngb-panel id="tab-1" title="Our Special Pricing">
                <ng-template ngbPanelContent>
                    <p>At The Nutricosmetic Company, you are shopping pieces from our brands and partners around the
                        globe, expertly curated
                        for you by our team. Prices are determined by each Brand Partner, therefore the price of the
                        same item may vary
                        depending on your location and where you order an item from.
                        <br><br>
                        To view the most accurate prices, select your shipping destination from the shopping
                        destinations menu at the top left
                        corner of our site.
                        <br><br>
                        Please note: Placing an item in your shopping bag or Wishlist does not reserve it at a
                        particular price.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-2" title="Currency Options">
                <ng-template ngbPanelContent>
                    <p>
                        The currency that you shop in is determined by your shipping destination and will be displayed
                        at checkout before
                        completing your purchase. If your local currency is unavailable, your order will be charged in
                        GBP for a competitive
                        exchange rate.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-3" title="When Your Card Will Be Charged">
                <ng-template ngbPanelContent>
                    <p>
                        If you pay by debit card or PayPal, The Nutricosmetic Company will take payment at the point
                        your order is placed on our
                        site. If you pay by credit card, full payment is usually taken once your order is ready for
                        shipping, though your bank
                        or card issuer may reserve the order amount in your account immediately.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-4" title="Payment Methods">
                <ng-template ngbPanelContent>
                    <p>
                        We accept Visa, MasterCard, American Express and Maestro.
                        <br><br>
                        If you pay by debit card or PayPal, The Nutricosmetic Company will take payment at the point
                        your order is placed on our
                        site. If you pay by credit card, full payment is usually taken once your order is ready to be
                        dispatched, though your
                        bank or card issuer may reserve the order amount in your account immediately.
                        <br><br>
                        For your safety, security checks are taken on all payments made to us at the time of purchase.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-5" title="Your Personal Details">
                <ng-template ngbPanelContent>
                    <p>
                        We keep your personal data private and confidential and only give it out with your consent or if
                        legally permitted to.
                        For further details, please see The Nutricosmetic Company <a href="">Privacy Policy</a>.
                        <br><br>

                        All transactions on this website are processed using Datacash, a secure online payment gateway
                        that encrypts your card
                        details in a secure host environment.
                        <br><br>

                        To give you even more confidence in shopping online with The Nutricosmetic Company, we have
                        introduced MasterCard®
                        SecureCodeTM. This service protects your existing Maestro card account from unauthorised use
                        when you shop with us.
                        <br><br>

                        To use this service, you must first register with the bank or other organisation that issued
                        your card. To find out
                        more, visit the <a href="">MasterCard® SecureCode</a> website.
                        <br><br>

                        Once you have registered and created your own private password with your card issuer, you will
                        be automatically prompted
                        at checkout to provide this password each time you make a purchase. This means that even if
                        someone knows your debit
                        card number, they will be unable to complete a purchase without your private password.
                        <br><br>

                        Please note: Your MasterCard® SecureCode password is not your account password. PRIVI does not
                        have access to your
                        MasterCard® SecureCode password.
                        <br><br>

                        If your card issuer is based in the EU, you may be asked to verify your payment due to a new
                        requirement under the
                        second Payment Services Directive (PSD2). You’ll be directed to a dedicated page to enter
                        further information or asked
                        to authorize the payment using your mobile phone. Once completed, you’ll return to
                        thenutricosmeticcompany.com.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-6" title="Faster Shopping">
                <ng-template ngbPanelContent>
                    <p>
                        The Nutricosmetic Company also provides the option for you to safely store your credit card
                        details, making it quicker
                        and simpler to shop with us. Your full card details will never be displayed, except for the last
                        four digits so that you
                        know which of your cards you are using. You can delete your card details by unchecking the box
                        "remember my payment
                        details" on the payment page.
                        <br><br>
                        Please note that you will need to re-enter card details if you change or add a new address. This
                        means that if someone
                        guesses your password and tries to place an order using your account, they will be unable to do
                        so to any address other
                        than those you have already saved. We hope you understand that this is a valuable precaution
                        designed to protect your
                        personal information.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-7" title="Website Security">
                <ng-template ngbPanelContent>
                    <p>
                        To help ensure that your shopping experience is safe, simple and secure The Nutricosmetic
                        Company uses Secure Socket
                        Layer (SSL) technology. This encrypts and protects the data you send to us over the internet. If
                        SSL is enabled then you
                        will see a padlock at the top of your browser and you can click on this to find out information
                        about the SSL digital
                        certificate registration.
                        <br><br>

                        You will also notice that when you look at the location (URL) field at the top of the browser
                        you will see it begin with
                        'https:' instead of the normal 'http:'. This means that you are in secure mode.
                        <br><br>

                        The Nutricosmetic Company is registered with Cybertrust as an authentic site. This ensures that
                        your information is kept
                        private while in transit between your web browser and our web server.
                        <br><br>

                        We keep your personal data private and confidential and only give it out with your consent or if
                        legally permitted to.
                        For further details, please see our <a href="">Privacy Policy</a>.
                    </p>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>
