<div class="container">
    <div class="text-start row justify-content-md-center">
        <div class="col-md-auto">
            <h2 class="quick_menu_title">CAREERS</h2>
        </div>
    </div>
    <div class="row justify-content-md-center">
       
        <div class="col-md-auto">

            Join Our Global Team
            
        </div>
    </div>   
    <div class="row justify-content-md-center">
       
        <div class="col-md-auto">

            Need Help? Call +44 203 855 5733 | <a href="">Email Customer Care</a> | <a href="">FAQ’s </a>| <a
                href="">Orders & Shipping</a>
                <br><br>
        </div>
    </div>    

    <div class="row justify-content-md-center">
        <div class="col-md-auto">
         <p>We’re always looking to hear from talented and savvy team players who are passionate about beauty and wellness. If this sounds like you, and you want to work in a fast-growing company at the forefront of e-commerce, then we would love to hear from you. Whether your skills lie within beauty, wellness, nutrition, creative design, technology, or logistics, 
            The Nutricosmetic Company can offer you a broad range of challenging roles in a truly unique environment.
        </p>
        <p>To register your interest, please send your CV and a concise covering letter to careers@thenutricosmeticcompany.com, stating what area's you would like to be considered for. Previous applicants need not apply.
        </p><br>
  
        
    </div>
</div>  

<div class="row justify-content-md-center">
    <div class="col-md-auto">
        <button type="button" class="add-address-btn">Enquire Now</button>
    
</div>
</div>  
    
    </div>