<div class="row mt-4">
    <div class="col-12 mt-3 text-start">
        <h2 class="quick_menu_title">ORDERS & SHIPPING</h2>
    </div>
    <div class="col-12 accordion-items-footer-pages">
        <ngb-accordion [closeOthers]="true" activeIds="tab-1">
            <ngb-panel id="tab-1" title="Shipping Information">
                <ng-template ngbPanelContent>
                    <p>As every order is unique, shipping costs will vary depending on the size, weight and destination
                        of your chosen items,
                        please see our <a href="">Delivery Terms & Conditions</a>. To ensure that the most accurate
                        pricing, taxes and
                        delivery costs are
                        displayed, we recommend that you click on the menu at the top of our website and select your
                        location from the list of
                        shipping destinations. For those last-minute purchases, Express delivery is available to most
                        destinations.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-2" title="Shipping Times">
                <ng-template ngbPanelContent>
                    <p>
                        Go to checkout for all available shipping times for your location.
                        <br><br>
                        Please keep in mind that our shipping times should be used as a guide only and are based on time
                        from dispatch. The
                        Nutricosmetic Company cannot take responsibility for customs clearance delays or failed payment
                        approval, though we will
                        try to minimise any potential delays.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-3" title="Taxes & Duties">
                <ng-template ngbPanelContent>
                    <p>
                        We include the cost of taxes and duties in your order, so you won’t need to pay any additional
                        fees if you are located
                        in any of the locations below:
                        <br><br>
                        European Union, The United Kingdom, USA, Canada, China Mainland, Australia, New Zealand, Puerto
                        Rico, Switzerland,
                        Singapore, Republic of Korea, Kuwait, Qatar, Israel, India, Lebanon, Norway, Saudi Arabia,
                        Taiwan Region, Thailand,
                        U.A.E, Japan, Mexico, Argentina, Chile, Colombia, Spain - Canary Islands, Hong Kong SAR, Egypt,
                        Isle of Man and San
                        Marino.
                        <br><br>

                        If you are ordering from within your own customs zone or region, import duties will not be
                        applicable however you may
                        need to pay VAT or local sales taxes. For the UK and the USA, these are included at checkout.
                        <br><br>

                        If a DAP (Delivery At Place) destination is selected (i.e. customers outside of the destinations
                        listed above), the
                        price you pay to The Nutricosmetic Company will exclude all relevant import duties and sales
                        taxes. As the recipient of
                        the order, you must instead pay these duties and taxes directly to our carrier to release your
                        order from customs. As we
                        are unable to advise the exact amount, we recommend contacting your local customs office or tax
                        authority before placing
                        a DAP order.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-4" title="Shipping To The USA">
                <ng-template ngbPanelContent>
                    <p>
                        For international orders shipped to customers in the US, please be aware that US Customs may ask
                        for your IRS, EIN or
                        SSN number before enabling delivery to your address. You will normally have one week to provide
                        this information before
                        your order is returned to The Nutricosmetic Company Brand Partner for a refund.
                        <br><br>
                        Please view our <a href="">Terms & Conditions</a> for further information.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-5" title="Order Tracking">
                <ng-template ngbPanelContent>
                    <p>
                        After placing an order, you will receive an email containing all the details. We may also be in
                        touch if we need further
                        information to verify your payment. Once your order is confirmed, it will be dispatched within 2
                        business days.
                        <br><br>
                        Depending on your location and chosen shipping method, delivery takes 2-7 business days after
                        it's dispatched. We will
                        keep you updated with tracking information and an estimated delivery date. You can also follow
                        its journey by heading to
                        ‘My Orders’ in your account, or if you opted for guest checkout, you can track the status of
                        your order <a href="">here</a>.
                        <br><br>
                        If you order from multiple Partners, please bare in mind that your items will arrive separately.
                        While we aim to always
                        deliver within the specified times, we aren’t responsible for delays due to customs clearance or
                        failed payment
                        approval.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-6" title="Insurance & Delivery">
                <ng-template ngbPanelContent>
                    <p>
                        The Nutricosmetic Company insures each purchase during the time it is in transit until it is
                        delivered to you. At
                        checkout, you may have the option to select whether you’d like to sign for your delivery. At
                        this point, responsibility
                        for your purchased goods passes to you. If you have specified a recipient who is not you for
                        delivery purposes (for
                        example as a gift) then you accept that evidence of a signature by them (or at that delivery
                        address) is evidence of
                        delivery and fulfilment by The Nutricosmetic Company and transfer of responsibility in the same
                        way.
                        <br><br>
                        DHL and UPS can deliver to certain destinations without collecting a signature. If this option
                        applies to your delivery
                        address, you can update your preference on the shipping page at checkout before proceeding to
                        purchase. By waiving the
                        signature, you agree to our <a href="">Terms and Conditions</a> and take full responsibility for
                        any loss or
                        damage that may occur.
                        <br><br>
                        Please note, if your delivery is above a certain value, you will not have the option to opt out
                        of signature
                        confirmation. This is to insure the safe arrival of your order.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-7" title="Cancellation">
                <ng-template ngbPanelContent>
                    <p>
                        Changed your mind? Some of our Partners allow you to cancel an item before we prepare your
                        order.
                        <br><br>
                        To cancel your order:
                        <br><br>
                        Go to 'Orders & Returns' if you have an account, or <a href="">click here</a> if you placed an
                        order as a
                        guest.
                        <br><br>
                        Select the items you want to cancel and your reason for cancellation.
                        <br><br>
                        We'll email you confirmation of your cancelled order.
                        <br><br>
                        If your order's already been prepared, we can't cancel your order, but we do offer a Returns
                        service on certain
                        products. You can find more info on cancelling and returning orders in our <a href="">Return &
                            Refunds
                            Policy</a>.
                    </p>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>