<div class="iwishWrapper">
	<div class="iwishTitle">
		<h1>Wishlist</h1>
                <h2>All your favourites in one place</h2>
	</div>
	<div class="iwishMsg"><div class="iwishMsgInfo" style="display:none;">No items!</div>
		
		<div class="iwishMsgSuccess" style="display:none;">Product removed from Wishlist!</div>
	</div>
	
</div>
<!-- <div class="col-12 col-lg-9">
    <section class="newin__Wrapper my-5">
        <div class="container-xl">
            <div class="row m-0 mb-5 product-catalog" >
                <div [class]="catlogLayout" *ngFor="let brand of brandData; let i=index">
                    <a  class="card">
                        <h2 class="title">{{brand.vendor}}</h2>
                        <div class="image">
                            <img class="img-fluid"  src="{{brand.images[0].src}}" alt="" [routerLink]="['/product-details']">
                        </div>
                        <div class="popup_btn_addtocart">
                            <form action="" method="post" enctype="">
                                <button class="tdcart" type="submit" name="add" data-add-to-cart="">
                                    Add to cart
                                </button>
                            </form>
                        </div>
                        <p class="description">{{brand.title}}</p>
                        <div class="description mb-0">
                            <ul class="list-unstyled d-flex star-ul mb-2">
                                <li><img class="img-fluid" src="assets/images/star-outline.png" alt=""
                                        width="16" />
                                </li>
                                <li><img class="img-fluid" src="assets/images/star-outline.png" alt=""
                                        width="16" />
                                </li>
                                <li><img class="img-fluid" src="assets/images/star-outline.png" alt=""
                                        width="16" />
                                </li>
                                <li><img class="img-fluid" src="assets/images/star-outline.png" alt=""
                                        width="16" />
                                </li>
                                <li><img class="img-fluid" src="assets/images/star-outline.png" alt=""
                                        width="16" />
                                </li>
                            </ul>
                        </div>
                        
                        <div class="favourite">
                            <img class="img-fluid" src="assets/images/star-solid.png"
                                alt="" width="18" *ngIf="addedToWishlist && productId ===brand.product_id" />
                                <img class="img-fluid" src="assets/images/star-outline.png"
                                alt="" width="18" *ngIf="productId !== brand.product_id" (click)="handleAddToWishlist(brand.variants[0].variant_id,brand.product_id)" />
                                
                        </div>

                        <div class="price mb-3">
                            <span class="new-price">₴2,344.68</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div> -->