<div class="row mt-4">
    <div class="col-12 mt-3 text-start">
        <h2 class="quick_menu_title">How To Shop</h2>
    </div>
    <div class="col-12 accordion-items-footer-pages">
        <ngb-accordion [closeOthers]="true" activeIds="tab-1">
            <ngb-panel id="tab-1" title="About Us">
                <ng-template ngbPanelContent>
                    <p>The Nutricosmetic Company is the destination for those looking for inspiration, solutions and
                        expert advice on beauty
                        that truly starts beneath the surface. We are a dedicated team of beauty and wellness devotees
                        on the hunt for the best
                        nutritional cosmetics and wellness products the world has to offer.
                        <br><br>
                        When you shop at The Nutricosmetic Company you’re shopping products from the world’s most
                        sought-after brands, expertly
                        curated to offer you the best selection possible. Our Brands Partners are located everywhere
                        from the UK to Europe, the
                        USA and Australia - we only work with the best in the business!
                        <br><br>
                        This unique model guarantees you a huge range of products to shop, from established brands to
                        the most interesting new
                        brand additions. Within that range you'll find something that suits all your needs, which you
                        simply won’t find anywhere
                        else. We ship from our Brand Partners worldwide, so you’ll receive your order before you know
                        it.
                        <br><br>
                        We pride ourselves on our transparency (we list full ingredients and publish all reviews) and
                        only sell the products
                        that blow us away
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-2" title="Our Products">
                <ng-template ngbPanelContent>
                    <p>
                        At The Nutricosmetic Company you can shop in multiple ways. The easiest way is to browse using
                        the drop-down navigation
                        menus at the top of the page, where you can find links to new products, brands, concern types
                        and our edits. If you know
                        what you are looking for, use the search box at the top right.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-3" title="How To Shop">
                <ng-template ngbPanelContent>
                    <p>
                        When you find an item you wish to purchase, simply select the weight and quantity, then click
                        ‘Add to bag’. You can
                        continue shopping and add more items to your bag, or you can proceed to checkout.
                        <br><br>
                        Our checkout process is quick and straightforward. You can either create an account or proceed
                        using our guest checkout.
                        No matter how many items you have in your shopping bag or how many Partners they are sourced
                        from, you only need to
                        check out once. We ship worldwide via DHL, and services from UPS and FedEx in selected
                        countries. Please choose your
                        shipping preference for each Brand Partner you have ordered from, then proceed to payment and
                        select your payment
                        method. We accept all major credit and debit cards, as well as PayPal.
                        <br><br>
                        Once you have placed your order, you will receive an email confirmation before one of our Brand
                        Partners starts
                        preparing it. Your order will then be shipped directly to you.
                        <br><br>
                        If you have opted for guest checkout, you can track the status of your order <a
                            href="">here</a>.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-4" title="Product Descriptions">
                <ng-template ngbPanelContent>
                    <p>
                        When shopping at The Nutricosmetic Company, we want you to feel confident about your purchases,
                        so you'll find the
                        following information on every product page:
                        <br><br>
                        1. ‘Description’ section, detailing each product benefits and features.
                        <br><br>
                        2. ‘How To Use’ section providing specific instructions on how to use each product.
                        <br><br>
                        3. ‘Ingredients’ section containing product ingredients and their beneficial properties.
                        <br><br>
                        4. ‘Details’ section containing product materials, particular allergies and specific care
                        instructions.
                        <br><br>
                        5. ‘Delivery & Returns’ section providing all the delivery options available for that particular
                        product and the
                        location it is being dispatched from.
                        <br><br>
                        Depending on the product type this section also features a ‘help me choose’ section, which
                        directs you to take one of
                        our targeted questionnaires in order to help you make the right choices on products that are
                        best suited to your needs
                        and wellbeing concerns. Our +Targeted Support section can be viewed <a href="">here</a>.
                        <br><br>
                        For more help, please email <a href="">hello@thenutricosmeticcompany.com</a> or call 0203 855
                        5733 (UK) or +44 203 855 5733 (from a
                        mobile or internationally), 9am - 6pm GMT, Mon-Fri.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-5" title="Subscriptions">
                <ng-template ngbPanelContent>
                    <p>
                        As part of our continued service to make your wellness journey as effortless as possible, we
                        offer a subscription
                        service on selected products. Simply select the ‘subscribe’ option on your favourite product
                        page, and you’ll save 5% on
                        your first 3 orders, when you schedule repeat monthly deliveries.
                        <br><br>
                        Monthly payments will be processed automatically. Discount for first three orders will be
                        applied at checkout. You can
                        also skip or cancel your subscription at any time in your subscription portal.
                        <br><br>
                        You’ll love your daily wellness routine and thrive, knowing that your next delivery is on its
                        way, on time!  
                        <br><br>
                        For more help, please email <a href="">hello@thenutricosmeticcompany.com</a> or call 0203 855
                        5733 (UK) or +44 203 855 5733 (from a
                        mobile or internationally), 9am - 6pm GMT, Mon-Fri.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-6" title="Careers">
                <ng-template ngbPanelContent>
                    <p>
                        <a href="">
                            careers@thenutricosmeticcompany.com
                        </a>
                        <br><br>
                        If you are interested in working at The Nutricosmetic Company, visit our <a href="">Careers
                            Page</a> which will give you information on
                        what vacancies exist and how to apply.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-7" title="Your Account">
                <ng-template ngbPanelContent>
                    <p>
                        Register with us and you'll be able to enjoy the following benefits through your account:
                        <br><br>
                        Track your orders and review past purchases.
                        <br><br>
                        Request your return or exchange directly from your account.
                        <br><br>
                        Build a customized Wish List to create personalized selection of products you love, so you can
                        email them to friends and
                        family. Plus, you can also print your shopping lists for increased convenience.
                        <br><br>
                        Add sold out items to your Wish List so you can see if more stock arrives.
                        <br><br>
                        Save your address and card details so you can shop even quicker next time.
                        <br><br>
                        Manage your account details, address book and email preferences.
                        <br><br>
                        To create an account, simply click on <a href="">Sign In</a> and then <a href="">Register
                            Now</a> to fill in your details.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-8" title="Forgotten Password">
                <ng-template ngbPanelContent>
                    <p>
                        If you have forgotten your password, <a href="">click here</a> to change it or follow the
                        Forgotten Password instructions on the sign
                        in page. For security reasons we are unable to send your password via email.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-9" title="Redeeming A Promotional Code">
                <ng-template ngbPanelContent>
                    <p>
                        From time to time we run offers using promotional codes. When placing your order, simply follow
                        these three steps to
                        redeem your discount.
                        <br><br>
                        1. Type in the code in the promotional code box on the payment page and click 'submit'.
                        <br><br>
                        2. Enter the words shown in the box for additional security, followed by 'submit'.
                        <br><br>
                        3. Check that your discount has been applied under the order summary on the payment page and
                        then click 'purchase now'.
                        <br><br>
                        For more help, please email <a href="">hello@thenutricosmeticcompany.com</a> or call 0203 855
                        5733 (UK) or +44
                        203 855 5733 (from a
                        mobile or internationally), 9am - 6pm GMT, Mon-Fri.
                    </p>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>