<section id="section-banner" class="banner__Wrapper row m-0 mb-5">
  <div class="container-fluid">
    <div class="row nutri_text_image align-items-center">
      <div class="col-md-6 col-sm-12">
        <div class="row m-0">
          <img class="img-fluid" src="assets/images/Teams-image_4.png" alt="" />
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="row m-0">
          <h2 class="mb-4">WAKE UP AND WORKOUT</h2>
          <p>Whether you’re an athlete or beginner, achieve your goals with powerful workout support to fuel your best
            performance yet. Ready to get in the best shape of your life?</p>
        </div>
        <div class="row m-0">
          <div class="d-flex">
            <a href="javascript:void(0);" class="shop-now-btn">
              Shop Now
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="new-in-banner" class="newin__Wrapper mb-5">
  <div class="container-xl">
    <div class="row m-0 mb-4 text-center">
      <h2 class="section-Heading">NEW IN</h2>
      <p>Stay ahead of the curve with our latest arrivals</p>
    </div>
    <div class="row m-0 mb-5">
      <div class="card-slider">
        <a href="javascript:void(0);" class="card">
          <h2 class="title">Okoko Cosmetiques</h2>
          <div class="image">
            <img class="img-fluid" src="assets/images/product-1.png" alt="">
          </div>
          <div class="popup_btn_addtocart">
            <form action="" method="post" enctype="">
              <button class="tdcart" type="submit" name="add" data-add-to-cart="">
                Add to cart
              </button>
            </form>
          </div>
          <p class="description">La Boue De Beaute Black Label Brightening, Anti-Aging Face Mask</p>
          <div class="description mb-0">
            <ul class="list-unstyled d-flex star-ul mb-2">
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
            </ul>
          </div>
          <!-- The badge is placed right next to prices so its read out by screen readers in a more logical way. -->
          <div class="favourite"><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="18" />
          </div>

          <div class="price mb-3">
            <span class="new-price">₴2,344.68</span>
          </div>
        </a>

        <a href="javascript:void(0);" class="card">
          <h2 class="title">Okoko Cosmetiques</h2>
          <div class="image">
            <img class="img-fluid" src="assets/images/product-2.png" alt="">
          </div>
          <div class="popup_btn_addtocart">
            <form action="" method="post" enctype="">
              <button class="tdcart" type="submit" name="add" data-add-to-cart="">
                Add to cart
              </button>
            </form>
          </div>
          <p class="description">La Boue De Beaute Black Label Brightening, Anti-Aging Face Mask</p>
          <div class="description mb-0">
            <ul class="list-unstyled d-flex star-ul mb-2">
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
            </ul>
          </div>
          <!-- The badge is placed right next to prices so its read out by screen readers in a more logical way. -->
          <div class="favourite"><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="18" />
          </div>

          <div class="price mb-3">
            <span class="new-price">₴2,344.68</span>
          </div>
        </a>
        <a href="javascript:void(0);" class="card">
          <h2 class="title">Okoko Cosmetiques</h2>
          <div class="image">
            <img class="img-fluid" src="assets/images/product-3.png" alt="">
          </div>
          <div class="popup_btn_addtocart">
            <form action="" method="post" enctype="">
              <button class="tdcart" type="submit" name="add" data-add-to-cart="">
                Add to cart
              </button>
            </form>
          </div>
          <p class="description">La Boue De Beaute Black Label Brightening, Anti-Aging Face Mask</p>
          <div class="description mb-0">
            <ul class="list-unstyled d-flex star-ul mb-2">
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
            </ul>
          </div>
          <!-- The badge is placed right next to prices so its read out by screen readers in a more logical way. -->
          <div class="favourite"><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="18" />
          </div>

          <div class="price mb-3">
            <span class="new-price">₴2,344.68</span>
          </div>
        </a>
        <a href="javascript:void(0);" class="card">
          <h2 class="title">Okoko Cosmetiques</h2>
          <div class="image">
            <img class="img-fluid" src="assets/images/product-4.png" alt="">
          </div>
          <div class="popup_btn_addtocart">
            <form action="" method="post" enctype="">
              <button class="tdcart" type="submit" name="add" data-add-to-cart="">
                Add to cart
              </button>
            </form>
          </div>
          <p class="description">La Boue De Beaute Black Label Brightening, Anti-Aging Face Mask</p>
          <div class="description mb-0">
            <ul class="list-unstyled d-flex star-ul mb-2">
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
            </ul>
          </div>
          <!-- The badge is placed right next to prices so its read out by screen readers in a more logical way. -->
          <div class="favourite"><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="18" />
          </div>

          <div class="price mb-3">
            <span class="new-price">₴2,344.68</span>
          </div>
        </a>
        <a href="javascript:void(0);" class="card">
          <h2 class="title">Okoko Cosmetiques</h2>
          <div class="image">
            <img class="img-fluid" src="assets/images/product-5.png" alt="">
          </div>
          <div class="popup_btn_addtocart">
            <form action="" method="post" enctype="">
              <button class="tdcart" type="submit" name="add" data-add-to-cart="">
                Add to cart
              </button>
            </form>
          </div>
          <p class="description">La Boue De Beaute Black Label Brightening, Anti-Aging Face Mask</p>
          <div class="description mb-0">
            <ul class="list-unstyled d-flex star-ul mb-2">
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
            </ul>
          </div>
          <!-- The badge is placed right next to prices so its read out by screen readers in a more logical way. -->
          <div class="favourite"><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="18" />
          </div>

          <div class="price mb-3">
            <span class="new-price">₴2,344.68</span>
          </div>
        </a>
        <a href="javascript:void(0);" class="card">
          <h2 class="title">Okoko Cosmetiques</h2>
          <div class="image">
            <img class="img-fluid" src="assets/images/product-1.png" alt="">
          </div>
          <div class="popup_btn_addtocart">
            <form action="" method="post" enctype="">
              <button class="tdcart" type="submit" name="add" data-add-to-cart="">
                Add to cart
              </button>
            </form>
          </div>
          <p class="description">La Boue De Beaute Black Label Brightening, Anti-Aging Face Mask</p>
          <div class="description mb-0">
            <ul class="list-unstyled d-flex star-ul mb-2">
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
            </ul>
          </div>
          <!-- The badge is placed right next to prices so its read out by screen readers in a more logical way. -->
          <div class="favourite"><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="18" />
          </div>

          <div class="price mb-3">
            <span class="new-price">₴2,344.68</span>
          </div>
        </a>
      </div>
    </div>
    <div class="row m-0">
      <div class="d-flex justify-content-center">
        <a href="javascript:void(0);" class="shop-now-btn mt-0">
          View all products
        </a>
      </div>
    </div>
  </div>
</section>

<section id="new-in-banner" class="newin__Wrapper mb-5">
  <div class="container-xl">
    <div class="row mb-4 slider-for">
      <div class="col-12">
        <div class="row align-items-center">
          <div class="col-md-12 col-lg-6">
            <img class="img-fluid" src="assets/images/slider-01.png" alt="" />
          </div>
          <div class="col-md-12 col-lg-6">
            <h3 class="SectionHeader__SubHeading Heading u-h6">WOMEN’S HEALTH</h3>
            <h2 class="section-Heading">7 WAYS TO HEALTHY BREASTS</h2>
            <p>Savvy skincare ingredients, lymphatic massage and monthly health checks for your best breasts yet.</p>
            <div class="row m-0">
              <div class="d-flex">
                <a href="javascript:void(0);" class="shop-now-btn">
                  Shop Now
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row align-items-center">
          <div class="col-md-12 col-lg-6">
            <img class="img-fluid" src="assets/images/slider-02.png" alt="" />
          </div>
          <div class="col-md-12 col-lg-6">
            <h3 class="SectionHeader__SubHeading Heading u-h6">BREAKFAST</h3>
            <h2 class="section-Heading">REVITALIZING SMOOTHIE BOWL</h2>
            <p>Boost skin health, sleep, gut health and mood with this nutrient-packed, creamy, sweet and crunchy
              smoothie bowl.</p>
            <div class="row m-0">
              <div class="d-flex">
                <a href="javascript:void(0);" class="shop-now-btn">
                  Shop Now
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row align-items-center">
          <div class="col-md-12 col-lg-6">
            <img class="img-fluid" src="assets/images/slider-01.png" alt="" />
          </div>
          <div class="col-md-12 col-lg-6">
            <h3 class="SectionHeader__SubHeading Heading u-h6">WOMEN’S HEALTH</h3>
            <h2 class="section-Heading">7 WAYS TO HEALTHY BREASTS</h2>
            <p>Savvy skincare ingredients, lymphatic massage and monthly health checks for your best breasts yet.</p>
            <div class="row m-0">
              <div class="d-flex">
                <a href="javascript:void(0);" class="shop-now-btn">
                  Shop Now
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row align-items-center">
          <div class="col-md-12 col-lg-6">
            <img class="img-fluid" src="assets/images/slider-02.png" alt="" />
          </div>
          <div class="col-md-12 col-lg-6">
            <h3 class="SectionHeader__SubHeading Heading u-h6">BREAKFAST</h3>
            <h2 class="section-Heading">REVITALIZING SMOOTHIE BOWL</h2>
            <p>Boost skin health, sleep, gut health and mood with this nutrient-packed, creamy, sweet and crunchy
              smoothie bowl.</p>
            <div class="row m-0">
              <div class="d-flex">
                <a href="javascript:void(0);" class="shop-now-btn">
                  Shop Now
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row align-items-center">
          <div class="col-md-12 col-lg-6">
            <img class="img-fluid" src="assets/images/slider-01.png" alt="" />
          </div>
          <div class="col-md-12 col-lg-6">
            <h3 class="SectionHeader__SubHeading Heading u-h6">WOMEN’S HEALTH</h3>
            <h2 class="section-Heading">7 WAYS TO HEALTHY BREASTS</h2>
            <p>Savvy skincare ingredients, lymphatic massage and monthly health checks for your best breasts yet.</p>
            <div class="row m-0">
              <div class="d-flex">
                <a href="javascript:void(0);" class="shop-now-btn">
                  Shop Now
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row align-items-center">
          <div class="col-md-12 col-lg-6">
            <img class="img-fluid" src="assets/images/slider-02.png" alt="" />
          </div>
          <div class="col-md-12 col-lg-6">
            <h3 class="SectionHeader__SubHeading Heading u-h6">BREAKFAST</h3>
            <h2 class="section-Heading">REVITALIZING SMOOTHIE BOWL</h2>
            <p>Boost skin health, sleep, gut health and mood with this nutrient-packed, creamy, sweet and crunchy
              smoothie bowl.</p>
            <div class="row m-0">
              <div class="d-flex">
                <a href="javascript:void(0);" class="shop-now-btn">
                  Shop Now
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0 mb-4">
      <ul class="list-unstyled d-flex slider-nav">
        <li class="Timeline__NavItem"><span>MIND & BODY</span></li>
        <li class="Timeline__NavItem"><span>WELLNESS</span></li>
        <li class="Timeline__NavItem"><span>LIFESTYLE</span></li>
        <li class="Timeline__NavItem"><span>MEN’S HEALTH</span></li>
        <li class="Timeline__NavItem"><span>BEAUTY</span></li>
        <li class="Timeline__NavItem"><span>RECIPES</span></li>
      </ul>
    </div>
  </div>
</section>

<section id="" class="newin__Wrapper mb-5">
  <div class="container-xl">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="row m-0 mb-4 Image--zoom--bar">
          <img class="img-fluid Image--zoomOut" src="assets/images/product-big-1.png" alt="" />
        </div>
        <div class="row m-0">
          <h2 class="mb-4 section-Heading">SUPERFOOD & ADAPTOGEN BLENDS WITH FOUR SIGMATIC</h2>
          <p>To enhance every mood.</p>
        </div>
        <div class="row m-0">
          <div class="d-flex">
            <a href="javascript:void(0);" class="shop-now-btn mt-0">
              Shop Now
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="row m-0 mb-4 Image--zoom--bar">
          <img class="img-fluid Image--zoomOut" src="assets/images/product-big-2.png" alt="" />
        </div>
        <div class="row m-0">
          <h2 class="mb-4 section-Heading">BUILDING MUSCLE WITH VEGAN PROTEIN: HOW TO DO IT & WHY?</h2>
          <p>Natural remedies for less joint pain and stiffness.</p>
        </div>
        <div class="row m-0">
          <div class="d-flex">
            <a href="javascript:void(0);" class="shop-now-btn mt-0">
              Shop Now
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="new-in-banner" class="newin__Wrapper mb-5">
  <div class="container-xl">
    <div class="row m-0 mb-4 text-center">
      <h2 class="section-Heading">BESTSELLERS</h2>
      <p>Explore our roundup of the bestsellers you love most</p>
    </div>
    <div class="row m-0 mb-5">
      <div class="card-slider">
        <a href="javascript:void(0);" class="card">
          <h2 class="title">Okoko Cosmetiques</h2>
          <div class="image">
            <img class="img-fluid" src="assets/images/product-1.png" alt="">
          </div>
          <div class="popup_btn_addtocart">
            <form action="" method="post" enctype="">
              <button class="tdcart" type="submit" name="add" data-add-to-cart="">
                Add to cart
              </button>
            </form>
          </div>
          <p class="description">La Boue De Beaute Black Label Brightening, Anti-Aging Face Mask</p>
          <div class="description mb-0">
            <ul class="list-unstyled d-flex star-ul mb-2">
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
            </ul>
          </div>
          <!-- The badge is placed right next to prices so its read out by screen readers in a more logical way. -->
          <div class="sold-out">SOLD OUT
          </div>

          <div class="favourite"><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="18" />
          </div>

          <div class="price mb-3">
            <span class="new-price">₴2,344.68</span>
          </div>
        </a>

        <a href="javascript:void(0);" class="card">
          <h2 class="title">Okoko Cosmetiques</h2>
          <div class="image">
            <img class="img-fluid" src="assets/images/product-2.png" alt="">
          </div>
          <div class="popup_btn_addtocart">
            <form action="" method="post" enctype="">
              <button class="tdcart" type="submit" name="add" data-add-to-cart="">
                Add to cart
              </button>
            </form>
          </div>
          <p class="description">La Boue De Beaute Black Label Brightening, Anti-Aging Face Mask</p>
          <div class="description mb-0">
            <ul class="list-unstyled d-flex star-ul mb-2">
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
            </ul>
          </div>

          <div class="sold-out">On Sale
          </div>
          <!-- The badge is placed right next to prices so its read out by screen readers in a more logical way. -->
          <div class="favourite"><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="18" />
          </div>

          <div class="price mb-3">
            <span class="new-price">₴2,344.68</span>
          </div>
        </a>
        <a href="javascript:void(0);" class="card">
          <h2 class="title">Okoko Cosmetiques</h2>
          <div class="image">
            <img class="img-fluid" src="assets/images/product-3.png" alt="">
          </div>
          <div class="popup_btn_addtocart">
            <form action="" method="post" enctype="">
              <button class="tdcart" type="submit" name="add" data-add-to-cart="">
                Add to cart
              </button>
            </form>
          </div>
          <p class="description">La Boue De Beaute Black Label Brightening, Anti-Aging Face Mask</p>
          <div class="description mb-0">
            <ul class="list-unstyled d-flex star-ul mb-2">
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
            </ul>
          </div>

          <div class="sold-out">SOLD OUT
          </div>
          <!-- The badge is placed right next to prices so its read out by screen readers in a more logical way. -->
          <div class="favourite"><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="18" />
          </div>

          <div class="price mb-3">
            <span class="new-price">₴2,344.68</span>
          </div>
        </a>
        <a href="javascript:void(0);" class="card">
          <h2 class="title">Okoko Cosmetiques</h2>
          <div class="image">
            <img class="img-fluid" src="assets/images/product-4.png" alt="">
          </div>
          <div class="popup_btn_addtocart">
            <form action="" method="post" enctype="">
              <button class="tdcart" type="submit" name="add" data-add-to-cart="">
                Add to cart
              </button>
            </form>
          </div>
          <p class="description">La Boue De Beaute Black Label Brightening, Anti-Aging Face Mask</p>
          <div class="description mb-0">
            <ul class="list-unstyled d-flex star-ul mb-2">
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
            </ul>
          </div>

          <div class="sold-out">SOLD OUT
          </div>
          <!-- The badge is placed right next to prices so its read out by screen readers in a more logical way. -->
          <div class="favourite"><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="18" />
          </div>

          <div class="price mb-3">
            <span class="new-price">₴2,344.68</span>
          </div>
        </a>
      </div>
    </div>
    <div class="row m-0">
      <div class="d-flex justify-content-center">
        <a href="javascript:void(0);" class="shop-now-btn mt-0">
          View all products
        </a>
      </div>
    </div>
  </div>
</section>

<section id="" class="newin__Wrapper mb-5">
  <div class="container-xl">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="row m-0 mb-4 Image--zoom--bar">
          <img class="img-fluid Image--zoomOut" src="assets/images/product-big-3.png" alt="" />
        </div>
        <div class="row m-0">
          <h2 class="mb-4 section-Heading">5 WAYS TO AVOID THE MID-AFTERNOON SLUMP</h2>
          <p>Boost energy levels and ward off that ever-so-tempting afternoon naps with these simple tricks.</p>
        </div>
        <div class="row m-0">
          <div class="d-flex">
            <a href="javascript:void(0);" class="shop-now-btn mt-0">
              Shop Now
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="row m-0 mb-4 Image--zoom--bar">
          <img class="img-fluid Image--zoomOut" src="assets/images/product-big-4.png" alt="" />
        </div>
        <div class="row m-0">
          <h2 class="mb-4 section-Heading">MORNING GLOW TONIC</h2>
          <p>Kickstart your day with this bright, zingy blend to feed your mind, skin and body.</p>
        </div>
        <div class="row m-0">
          <div class="d-flex">
            <a href="javascript:void(0);" class="shop-now-btn mt-0">
              Shop Now
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="the-edit-banner" class="newin__Wrapper mb-5">
  <div class="container-xl">
    <div class="row m-0 mb-4 text-center">
      <h2 class="section-Heading">THE EDIT</h2>
      <p>Stay ahead of the curve with our latest arrivals</p>
    </div>
    <div class="row m-0 mb-5">
      <div class="card-slider">
        <a href="javascript:void(0);" class="card">
          <h2 class="title">Okoko Cosmetiques</h2>
          <div class="image">
            <img class="img-fluid" src="assets/images/product-1.png" alt="">
          </div>
          <div class="popup_btn_addtocart">
            <form action="" method="post" enctype="">
              <button class="tdcart" type="submit" name="add" data-add-to-cart="">
                Add to cart
              </button>
            </form>
          </div>
          <p class="description">La Boue De Beaute Black Label Brightening, Anti-Aging Face Mask</p>
          <div class="description mb-0">
            <ul class="list-unstyled d-flex star-ul mb-2">
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
            </ul>
          </div>

          <div class="sold-out">SOLD OUT
          </div>
          <!-- The badge is placed right next to prices so its read out by screen readers in a more logical way. -->
          <div class="favourite"><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="18" />
          </div>

          <div class="price mb-3">
            <span class="new-price">₴2,344.68</span>
          </div>
        </a>

        <a href="javascript:void(0);" class="card">
          <h2 class="title">Okoko Cosmetiques</h2>
          <div class="image">
            <img class="img-fluid" src="assets/images/product-2.png" alt="">
          </div>
          <div class="popup_btn_addtocart">
            <form action="" method="post" enctype="">
              <button class="tdcart" type="submit" name="add" data-add-to-cart="">
                Add to cart
              </button>
            </form>
          </div>
          <p class="description">La Boue De Beaute Black Label Brightening, Anti-Aging Face Mask</p>
          <div class="description mb-0">
            <ul class="list-unstyled d-flex star-ul mb-2">
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
            </ul>
          </div>
          <!-- The badge is placed right next to prices so its read out by screen readers in a more logical way. -->
          <div class="favourite"><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="18" />
          </div>

          <div class="price mb-3">
            <span class="new-price">₴2,344.68</span>
          </div>
        </a>
        <a href="javascript:void(0);" class="card">
          <h2 class="title">Okoko Cosmetiques</h2>
          <div class="image">
            <img class="img-fluid" src="assets/images/product-3.png" alt="">
          </div>
          <div class="popup_btn_addtocart">
            <form action="" method="post" enctype="">
              <button class="tdcart" type="submit" name="add" data-add-to-cart="">
                Add to cart
              </button>
            </form>
          </div>
          <p class="description">La Boue De Beaute Black Label Brightening, Anti-Aging Face Mask</p>
          <div class="description mb-0">
            <ul class="list-unstyled d-flex star-ul mb-2">
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
            </ul>
          </div>

          <div class="sold-out">SOLD OUT
          </div>
          <!-- The badge is placed right next to prices so its read out by screen readers in a more logical way. -->
          <div class="favourite"><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="18" />
          </div>

          <div class="price mb-3">
            <span class="new-price">₴2,344.68</span>
          </div>
        </a>
        <a href="javascript:void(0);" class="card">
          <h2 class="title">Okoko Cosmetiques</h2>
          <div class="image">
            <img class="img-fluid" src="assets/images/product-4.png" alt="">
          </div>
          <div class="popup_btn_addtocart">
            <form action="" method="post" enctype="">
              <button class="tdcart" type="submit" name="add" data-add-to-cart="">
                Add to cart
              </button>
            </form>
          </div>
          <p class="description">La Boue De Beaute Black Label Brightening, Anti-Aging Face Mask</p>
          <div class="description mb-0">
            <ul class="list-unstyled d-flex star-ul mb-2">
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
            </ul>
          </div>
          <!-- The badge is placed right next to prices so its read out by screen readers in a more logical way. -->
          <div class="favourite"><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="18" />
          </div>

          <div class="price mb-3">
            <span class="new-price">₴2,344.68</span>
          </div>
        </a>
        <a href="javascript:void(0);" class="card">
          <h2 class="title">Okoko Cosmetiques</h2>
          <div class="image">
            <img class="img-fluid" src="assets/images/product-5.png" alt="">
          </div>
          <div class="popup_btn_addtocart">
            <form action="" method="post" enctype="">
              <button class="tdcart" type="submit" name="add" data-add-to-cart="">
                Add to cart
              </button>
            </form>
          </div>
          <p class="description">La Boue De Beaute Black Label Brightening, Anti-Aging Face Mask</p>
          <div class="description mb-0">
            <ul class="list-unstyled d-flex star-ul mb-2">
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
            </ul>
          </div>
          <!-- The badge is placed right next to prices so its read out by screen readers in a more logical way. -->
          <div class="favourite"><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="18" />
          </div>

          <div class="price mb-3">
            <span class="new-price">₴2,344.68</span>
          </div>
        </a>
        <a href="javascript:void(0);" class="card">
          <h2 class="title">Okoko Cosmetiques</h2>
          <div class="image">
            <img class="img-fluid" src="assets/images/product-1.png" alt="">
          </div>
          <div class="popup_btn_addtocart">
            <form action="" method="post" enctype="">
              <button class="tdcart" type="submit" name="add" data-add-to-cart="">
                Add to cart
              </button>
            </form>
          </div>
          <p class="description">La Boue De Beaute Black Label Brightening, Anti-Aging Face Mask</p>
          <div class="description mb-0">
            <ul class="list-unstyled d-flex star-ul mb-2">
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
              <li><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="16" /></li>
            </ul>
          </div>
          <div class="sold-out">SOLD OUT
          </div>
          <!-- The badge is placed right next to prices so its read out by screen readers in a more logical way. -->
          <div class="favourite"><img class="img-fluid" src="assets/images/star-outline.png" alt="" width="18" />
          </div>

          <div class="price mb-3">
            <span class="new-price">₴2,344.68</span>
          </div>
        </a>
      </div>
    </div>
    <div class="row m-0">
      <div class="d-flex justify-content-center">
        <a href="javascript:void(0);" class="shop-now-btn mt-0">
          View all products
        </a>
      </div>
    </div>
  </div>
</section>
<section id="the-edit-banner" class="marketplace__Wrapper mb-5">
  <div class="container-xll">
    <div class="row m-0">
      <div class="col-md-12 col-lg-3">
        <div class="row m-0 justify-content-center text-center">
          <div class="d-flex justify-content-center">
            <img class="img-fluid" src="assets/images/global-internet.png" alt="" width="26" />
          </div>
        </div>
        <div class="d-flex justify-content-center title text-uppercase">
          GLOBAL MARKETPLACE
        </div>
        <div class="d-flex justify-content-center text-center">
          The only dedicated global marketplace for beauty, wellness and nutrition
        </div>
      </div>
      <div class="col-md-12 col-lg-3">
        <div class="row m-0 justify-content-center text-center">
          <div class="d-flex justify-content-center">
            <img class="img-fluid" src="assets/images/global-internet.png" alt="" width="26" />
          </div>
        </div>
        <div class="d-flex justify-content-center title text-uppercase">
          CONSCIOUS BEAUTY
        </div>
        <div class="d-flex justify-content-center text-center">
          Products that are not only good for you, but the planet too
        </div>
      </div>
      <div class="col-md-12 col-lg-3">
        <div class="row m-0 justify-content-center text-center">
          <div class="d-flex justify-content-center">
            <img class="img-fluid" src="assets/images/global-internet.png" alt="" width="26" />
          </div>
        </div>
        <div class="d-flex justify-content-center title text-uppercase">
          LOYALTY PROGRAM
        </div>
        <div class="d-flex justify-content-center text-center">
          Unlock exciting perks by collecting Beauty Points on all of your purchases
        </div>
      </div>
      <div class="col-md-12 col-lg-3">
        <div class="row m-0 justify-content-center text-center">
          <div class="d-flex justify-content-center">
            <img class="img-fluid" src="assets/images/global-internet.png" alt="" width="26" />
          </div>
        </div>
        <div class="d-flex justify-content-center title text-uppercase">
          EXPERT ADVICE
        </div>
        <div class="d-flex justify-content-center text-center">
          Exceptional customer care & expert advice catered to you
        </div>
      </div>
    </div>
  </div>
</section>