<div class="container">
    <div class="text-start row justify-content-md-center">
        <div class="col-md-auto">
            <h2 class="quick_menu_title">CUSTOMER PROMISE</h2>
        </div>
    </div>
    <div class="row justify-content-md-center">

        <div class="col-md-auto">

            Our Promise To You

        </div><br><br>

    </div>
    <div class="row justify-content-md-center">

        <div class="col-md-auto">

            Need Help? Call +44 203 855 5733 | <a href="mailto:hello@thenutricosmeticcompany.com">Email Customer Care</a> | <a [routerLink]="['/faqs']">FAQ’s </a>| <a
            [routerLink]="['/orders-shipping']">Orders & Shipping</a>
            <br>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <p>The Nutricosmetic Company lets you shop the best beauty and wellness products from around the world. Our
                customers are at the heart of everything we do – that’s why when you shop with us, you’ll find an
                unrivaled selection of products that no one else can offer. From global wellness powerhouses to emerging
                new brands, we only partner with the best to ensure you get the products that are suited to you.
            </p>
            <p>Our pricing is unique from everyone else. Prices are set by our Brand Partners, so depending on your
                shipping address, the same product may vary in price across different locations. Though we don’t have
                any control over price differences, you can always count on us to offer you the best price available to
                your destination when you place an order. Once you’ve made your choice, we’ll then take care of the
                legwork, so you don’t have to! We ship from our partners to over 170 countries worldwide, so you’ll
                receive your order in no time.
            </p>
            <br>



        </div>
    </div>



    <div class="row justify-content-md-center text-image-container">
        <div class="col-md-auto text-container">

            <h2>OUR PROMISE TO YOU</h2>
            <ul class="bullet-icon customer-promise-bullets">
                <li class="">
                    <div class="box_check">Quick Responses</div>
                    <div class="pro_que_des">We promise to answer any questions within 2 working days.<br> Contact our
                        <a [routerLink]="['/contact-us']">Customer Care Team.</a></div>
                </li>
                <li class="">
                    <div class="box_check">Safe &amp; Secure Shopping</div>
                    <div class="pro_que_des">You’re in safe hands - We accept all the major payment methods.<br> Learn
                        more about our <a [routerLink]="['/payment-pricing']">Payment
                            Methods</a>.</div>
                </li>
                <li class="">
                    <div class="box_check">Fast Delivery</div>
                    <div class="pro_que_des">In a hurry? We offer express delivery to most destinations.<br> Learn more
                        about our <a [routerLink]="['/orders-shipping']">Shipping
                            Information</a>.</div>
                </li>
                <li class="">
                    <div class="box_check">Global Returns &amp; Collections</div>
                    <div class="pro_que_des">Changed your mind? No problem, you can return an order within 14 days.<br>
                        Learn more about our <a
                        [routerLink]="['/returns-exchanges']">Returns &amp;
                            Exchanges</a>.</div>
                </li>
            </ul>


            <br>
        </div>
        <div class="col-md-auto image-container">
            <img
                src="//cdn.shopify.com/s/files/1/0403/8685/5073/files/Our-Customer-Promise_538x468_bdc2bf0b-b3ff-45cb-9e9f-85d6ce01f7b5.jpg?v=1628097346">
        </div>
    </div>
</div>