<div class="container">
    <div class="text-start row justify-content-md-center">
        <div class="col-md-auto">
            <h2 class="quick_menu_title">BEAUTY BENEATH THE SURFACE</h2>
        </div>
    </div>
    <div class="row justify-content-md-center">

        <div class="col-md-auto">

            Join Our Exclusive Loyalty Program

        </div><br><br>

    </div>
    <div class="row justify-content-md-center">

        <div class="col-md-auto">

            Need Help? Call +44 203 855 5733 | <a href="mailto:hello@thenutricosmeticcompany.com">Email Customer Care</a> | <a [routerLink]="['/faqs']">FAQ’s </a>| <a
            [routerLink]="['/orders-shipping']">Orders & Shipping</a>
            <br>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <p>Join our exclusive loyalty program and start earning Beauty Points today!
            </p>
        </div>
        <div class="col-md-auto">
            <p>With more ways to unlock exciting perks, your journey towards glowing skin, glossy locks, and a healthy
                gut begins here. Start earning beauty points today, and treat yourself to the things you love with your
                all access pass to exclusive rewards at The Nutricosmetic Company.
            </p>
        </div>
        <div class="col-md-auto">
            <p>Kickstart your beauty journey and receive 100 Beauty Points when you sign up.
            </p>
        </div>
    </div>

    <div class="loyalty_btn">

        <button type="submit" class="shop-now" [routerLink]="['/register']">join now</button>
        <button type="submit" class="shop-now" [routerLink]="['/login']">sign in</button>

    </div>

    <div class="Promise_des">If you’d like to find out more, please see our <a
        [routerLink]="['/faqs']">FAQ’s</a> or <a
        [routerLink]="['/term-conditions']">Terms & Conditions</a>.
    </div>


    <div class="text-image-container mtb-2">
        <div class="image-container"
            style="background: url(//cdn.shopify.com/s/files/1/0403/8685/5073/files/Beauty-beneath-the-surface_538x390_b2531086-c87d-47e2-97c6-bb695baf6a07.jpg?v=1628168808) no-repeat center;">
            <img
                src="//cdn.shopify.com/s/files/1/0403/8685/5073/files/Beauty-beneath-the-surface_538x390_b2531086-c87d-47e2-97c6-bb695baf6a07.jpg?v=1628168808">
        </div>
        <div class="text-container">
            <ul class="normal">
                <li class="pro_que">
                    <div class="loyalty_img_text box_check">Shop</div>
                    <div class="loyalty_img_des pro_que_des">Sign up now and earn Beauty Points for every purchase
                        and get exclusive access to members benefits.</div>
                </li>

                <li class="pro_que">
                    <div class="loyalty_img_text box_check"> Earn</div>
                    <div class="loyalty_img_des pro_que_des">Collect 1 Beauty Point for every £1, €1 or $1 you spend
                        to treat yourself to the things you love. Plus share your love for The Nutricosmetic
                        Company via Facebook or Instagram to receive extra Beauty Points!</div>
                </li>

                <li class="pro_que">
                    <div class="loyalty_img_text box_check"> Reward</div>
                    <div class="loyalty_img_des pro_que_des">Save 1000 points to unlock your exclusive reward and get
                        10% off an entire order. Shop anytime on purchases you love, and get that wonderful ‘I’ve paid
                        with my points’ feeling!</div>
                </li>

            </ul>
        </div>

    </div>


    <div class="loyalty_bottom about_title_sub">
    
        <div class="sub_title">You can access your personalised loyalty dashboard at any time <a href="" id="beauty-beneath-dashboard">here</a>.</div>
        
        
        <div class="sub_title"></div>
        
      </div>
</div>