<div class="row mt-4">
    <div class="col-12 mt-3 text-start">
        <h2 class="quick_menu_title">LATEST CORONAVIRUS (COVID-19) INFORMATION</h2>
    </div>
    <div class="col-12 accordion-items-footer-pages">
        <ngb-accordion [closeOthers]="true" activeIds="tab-1">
            <ngb-panel id="tab-1" title="To our customers">
                <ng-template ngbPanelContent>
                    <p>To our customers, your health and safety is what matters most to us.
                        We know you’ll have questions about how coronavirus may affect your orders so we’ve answered
                        some of them below.
                        If you have any further questions, please <a [routerLink]="['/contact-us']" target="_blank">contact us</a>.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-2"
                title="Can you still ship parcels from countries with tougher restrictions (e.g. Italy)?">
                <ng-template ngbPanelContent>
                    <p>
                        Yes and good news! Right now, we’re shipping to and from countries under quarantine. We’ll let
                        you know if anything
                        changes in regards to your shipping times.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-3"
                title="Is it safe to receive parcels from countries where there have been cases of COVID-19 (novel coronavirus)?">
                <ng-template ngbPanelContent>
                    <p>
                        Yes, your safety is what matters most to us. The World Health Organization (WHO) says it is safe
                        to receive packages and
                        we’re following all their official advice. Our delivery partners have also taken further
                        measures to carry out a
                        zero-contact delivery process where you won’t need to sign for your package.
                        <br><br>
                        In addition, we are closely following the latest guidance from the World Health Organization
                        (WHO), Centres for Disease
                        Control and Prevention (CDC), local governments and public health agencies. We will update our
                        practices accordingly and
                        keep you at the heart of everything we do. For more information, please visit the World Health
                        Organization website
                        where they have FAQs specific to this topic <a [routerLink]="['/faqs']" target="_blank">here</a>.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-4" title="Will I still be able to return my items if I need to?">
                <ng-template ngbPanelContent>
                    <p>
                        Yes. Please contact our Customer Care team at <a href="mailto:hello@thenutricosmeticcompany.com" target="_blank">hello@thenutricosmeticcompany.com</a>.
                        We will endeavour to do all we can to
                        help you with your order.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-5"
                title="Can I change the address my packages are delivered to after I have placed my order, as I’m no longer going to be in the city I was planning to be in?">
                <ng-template ngbPanelContent>
                    <p>
                        Yes. Please contact our Customer Care team at <a href="mailto:hello@thenutricosmeticcompany.com" target="_blank">hello@thenutricosmeticcompany.com</a>.
                        We will endeavour to do all we can to
                        help you with your order.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-6"
                title="My item is coming from Italy or another affected country where I know they have shut down shops. How will I get my item?">
                <ng-template ngbPanelContent>
                    <p>
                        Our community of brands and customers is extremely important to us. Many of our Brand Partners
                        have had to close their
                        physical store locations, which is having a big impact on their businesses. We are working to
                        ensure they can keep
                        selling to customers on The Nutricosmetic Company by increasing visibility of their stock, and
                        helping them with
                        logistics, marketing and operations through our platform. Your continued custom is also helping
                        these businesses – so we
                        thank you!
                        <br><br>
                        Currently, we are working with our delivery partners so that if you buy from one of these brands
                        through The
                        Nutricosmetic Company, we can still deliver your items.
                        <br><br>
                        For further information, please email <a href="mailto:hello@thenutricosmeticcompany.com" target="_blank">hello@thenutricosmeticcompany.com</a> or call
                        0203 855 5733 (UK) or +44 203 855 5733
                        (from a mobile or internationally), 9am - 6pm GMT, Mon-Fri.
                    </p>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>
