<div class="container">
    <div class="text-start row justify-content-md-center">
        <div class="col-md-auto">
            <h2 class="quick_menu_title">GET IN TOUCH</h2>
        </div>
    </div>
    <div class="row justify-content-md-center">

        <div class="col-md-auto">

            We’re Here To Help

        </div>
        <br><br>
    </div>
    <div class="row justify-content-md-center">

        <div class="col-md-auto">

            Need Help? Call +44 203 855 5733 | <a href="mailto:hello@thenutricosmeticcompany.com">Email Customer
                Care</a> | <a [routerLink]="['/faqs']">FAQ’s </a>| <a [routerLink]="['/orders-shipping']">Orders &
                Shipping</a>
            <br><br>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-auto contact_description">
            <p>Our Customer Care Team are on hand to help you with placing an order, tracking your delivery or arranging
                an exchange.<br>You can get in touch with us by our <a [routerLink]="['/contact-us']">Contact Us</a>
                page or by filling
                out the form below, we’re available 9am-6pm, Mon-Fri.<br>Alternatively, you can also contact us via Live
                Chat when we're available to chat.</p>

        </div>
        <br><br>
    </div>

    <div class="contact PageContent PageContent--narrow">
        <div class="Rte">
            <form>
                <div class="Form__Group">
                    <div class="Form__Item">
                        <input type="text" class="Form__Input" name="contact[name]" aria-label="Your name"
                            placeholder="Your name" required="">
                        <label class="Form__FloatingLabel">Your name</label>
                    </div>

                    <div class="Form__Item">
                        <input type="email" class="Form__Input" name="contact[email]" aria-label="Your email"
                            placeholder="Your email" required="">
                        <label class="Form__FloatingLabel">Your email</label>
                    </div>
                </div>
                <div class="Form__Item"><input type="text" class="Form__Input" name="contact[Your phone (optional)]"
                        aria-label="Your phone (optional)" placeholder="Your phone (optional)">
                    <label class="Form__FloatingLabel">Your phone (optional)</label>
                </div>
                <div class="Form__Item">
                    <textarea name="contact[body]" cols="30" rows="10" class="Form__Textarea" aria-label="Your message"
                        placeholder="Your message" required=""></textarea>
                    <label class="Form__FloatingLabel">Your message</label>
                </div>

                <button type="submit" class="Form__Submit Button">Send message</button>
            </form>
        </div>
    </div>



</div>