<div class="row mt-4">
    <div class="col-12 mt-3 text-start">
        <h2 class="quick_menu_title">REFER A FRIEND TERMS & CONDITIONS</h2>
    </div>
    <div class="col-12 accordion-items-footer-pages">
        <ngb-accordion [closeOthers]="true" activeIds="tab-1">
            <ngb-panel id="tab-1" title="Terms For This Offer From The Nutricosmetic Company">
                <ng-template ngbPanelContent>
                    <p>
                        Offer details valid from Monday 1st March 2021.
                        <br><br>
                        <span class="quick_menu_subtitle">KEY CONDITIONS TO REDEEM THE REWARDS</span>
                        <br><br>
                        This is a summary of the key conditions to redeem rewards. It does not replace the full terms
                        laid out below.
                        <br><br>
                        <span class="quick_menu_subtitle">REFERRER REWARDS</span>
                        <br><br>
                        The referrer is offered a 10% discount code subject to a £50 minimum spend for each friend who
                        orders for the first
                        time. £50 (see below for more details)
                        <br><br>
                        Valid on full-price items from selected brands only
                        <br><br>
                        This offer can be shared for 3 months from the date of acceptance by the referrer.
                        <br><br>
                        In order for the referral to qualify for the reward the referred friend must be a new customer
                        to The Nutricosmetic
                        Company and over the age of 18 and the referred friend must meet the conditions of their reward.
                        <br><br>
                        There is no requirement for the referrer to be an existing The Nutricosmetic Company customer.
                        <br><br>
                        In order to share this, offer the referrer must be over the age of 18.
                        <br><br>
                        Rewards will be cumulative and so if multiple qualifying referrals are made to The Nutricosmetic
                        Company, multiple
                        rewards will be delivered to the referrer. A Referrer may not earn more than 5 within any 24
                        hour period or 25 within
                        last 12 months or 1000 GBP of reward value within last 12 months. A Referrer should not expect
                        their referred friends to
                        be given rewards automatically if they are referring more frequently than 10 friends within any
                        12 month period.
                        <br><br>
                        Rewards will be delivered to the referrer on the day of the referred friend's purchase provided
                        the referred friend's
                        purchase is not cancelled
                        <br><br>
                        The Referrer will be notified by email once a referred friend has purchased and when the reward
                        has been earned.
                        <br><br>
                        Rewards will be valid for 3 months from the date earned by the referrer.
                        <br><br>
                        Referral rewards cannot be combined with other discount codes in a single order.
                        <br><br>
                        <span class="quick_menu_subtitle">REFERRED FRIEND REWARDS</span>
                        <br><br>
                        The Referred friend is offered 10% off when they place their first order over £50 (see below for
                        more details).
                        <br><br>
                        The reward is valid for 7 days from the point of issue to the referred friend.
                        <br><br>
                        In order to qualify for the reward, the referred friend must be a new customer to The
                        Nutricosmetic Company and over the
                        age of 18.
                        <br><br>
                        Any rewards will be revoked if a refund is requested on the order for which the reward was
                        offered.
                        <br><br>
                        The Referred friend reward cannot be claimed by the same person making the referral
                        <br><br>
                        Referred friend rewards cannot be combined with other discount codes in a single order.
                        <br><br>
                        <span class="quick_menu_subtitle">THE REFERRAL OFFER</span>
                        <br><br>
                        Sale merchandise is not included in the offer
                        <br><br>
                        Valid on full-price items from selected brands only
                        <br><br>
                        The offer applies to orders from all boutiques within The Nutricosmetic Company network
                    </p>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>