header {
    /* position: sticky;
  top: 0;
  background: white; */

  position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
    background: white;


  }
  .select2-selection__rendered{
    padding-right: 10px;
  }
  .bi{
    -webkit-text-stroke: 1px;
  }
  .about_banner .banner-title-container {
    position: absolute;
    bottom: 75px;
    left: 150px;
    color: #ffffffe6;
    cursor: default;
}
.about_banner .banner-title-container .banner-caption-text {
  font-size: 16px;
  letter-spacing: .1rem;
  margin: 0 0 0.5rem;
}
.about_banner .banner-title-container .banner-title-text {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .1rem;
}
.about_banner {
  position: relative;
}

@media (min-width:200px) and (max-width:700px) {
  .tnclogo {
      margin: 20px;
  }

  .txcenter{
    justify-content: center !important;
  }

  .ic-menu{
    margin-top: 30px;
  }

  .Header__Wrapper .select2-box {
    margin: 0 0rem 0 0 !important;
  }
  .select2-container{
    width: auto !important;
  }

  .AnnouncementBar__Wrapper p {
    font-size: 11px !important;
  }
}