<div class="row mt-4">
    <div class="col-12 mt-3 text-start">
        <h2 class="quick_menu_title">COOKIE POLICY</h2>
    </div>
    <div class="col-12 accordion-items-footer-pages">
        <ngb-accordion [closeOthers]="true" activeIds="tab-1">
            <ngb-panel id="tab-1" title="Our Cookie Policy">
                <ng-template ngbPanelContent>
                    <p>Please read this cookie policy carefully as it contains important information on who we are and
                        how we use cookies on
                        our website.
                        <br><br>
                        This policy should be read together with our <a [routerLink]="['/privacy-policy']"
                            target="_blank">Privacy Policy</a> which sets out how
                        and why we
                        collect, store, use and share
                        personal information generally, as well as your rights in relation to your personal information
                        and details of how to
                        contact us and supervisory authorities if you have a complaint.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-2" title="Who we are">
                <ng-template ngbPanelContent>
                    <p>
                        This website is operated by The Nutricosmetic Company Ltd. We are incorporated and registered in
                        England and Wales with
                        company number 11855907 and registered office is at 85 Great Portland Street, London, W1W 7LT,
                        United Kingdom.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-3" title="Our website">
                <ng-template ngbPanelContent>
                    <p>
                        This cookie policy relates to your use of our website and also the cookies we place on third
                        party websites. We use
                        cookies to control how often you are shown a particular advert on those third party websites, so
                        you do not see the same
                        advert too frequently. We do not collect any personal data within these third party cookies.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-4" title="Cookies">
                <ng-template ngbPanelContent>
                    <p>
                        A cookie is a small text file which is placed onto your device (eg computer, smartphone or other
                        electronic device) when
                        you use our website. We use cookies on our website. These help us recognise you and your device
                        and store some
                        information about your preferences or past actions.
                        <br><br>
                        For example, we may monitor how many times you visit our website, which pages you go to, traffic
                        data, location data and
                        the originating domain name of your internet service provider. This information helps us to
                        build a profile of our users
                        and offer you the best products suited to your taste. Some of this data will be aggregated or
                        statistical, which means
                        that we will not be able to identify you individually.
                        <br><br>
                        For further information on our use of cookies, including a detailed list of your information
                        which we and others may
                        collect through cookies, please see below.
                        <br><br>
                        For further information on cookies generally, including how to control and manage them, visit
                        the guidance on cookies
                        published by the UK Information Commissioner’s Office, <a href="https://www.aboutcookies.org/">www.aboutcookies.org</a> or <a
                        href="https://www.allaboutcookies.org/">www.allaboutcookies.org</a>.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-5" title="Consent to use cookies and changing settings">
                <ng-template ngbPanelContent>
                    <p>
                        We will ask for your permission (Consent) to place cookies or other similar technologies on your
                        device, except where
                        they are essential for us to provide you with a service that you have requested (eg to enable
                        you to put items in your
                        shopping basket and use our check-out process).
                        <br><br>
                        You can withdraw any consent to the use of cookies or manage any other cookie preferences by
                        referring to the help and
                        support section on your internet browser for instructions on how to locate the file or directory
                        that stores cookies
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-6" title="Our use of cookies">
                <ng-template ngbPanelContent>
                    <p>
                        The cookies we, and are business partners use, can be categorised as follows:
                        <br><br>

                        Essential cookies: Some of the cookies on our online services are essential for us to be able to
                        provide you with a
                        service you have requested. An example of this would be a cookie that enables you to log into
                        your account on the
                        website, or one which allows communication between your browser and the website. Our
                        cookie-preference cookie, described
                        in the section ‘How to reject or opt out of receiving cookies’, is also an essential cookie. You
                        may not be able to use
                        our website without these cookies.
                        <br><br>

                        Website functionality cookies: These cookies enable you to browse our online services and use
                        features such as shopping
                        baskets and wish lists.
                        <br><br>

                        Website analytics cookies: We use these cookies to measure and analyse how our customers use our
                        online services. An
                        example is counting the number of different people visiting our website or using a particular
                        feature, rather than the
                        total number of times the site or feature is used. This allows us to continuously improve our
                        online services and your
                        shopping experience.
                        <br><br>

                        Customer preference cookies: When browsing or shopping online, our online services will remember
                        preferences you make
                        (for example your user name, language or location). This improves your experience and makes your
                        browsing simpler,
                        easier and more personal to you.
                        <br><br>

                        Social sharing cookies: When browsing or shopping online, our online services will remember
                        preferences you make (for
                        example your user name, language or location). This improves your experience and makes your
                        browsing simpler, easier and
                        more personal to you.
                        <br><br>

                        Interest-based advertising cookies: You will have noticed, when visiting other websites, that
                        you are shown adverts for
                        products and services you may wish to buy. The money made by website owners for showing
                        third-party adverts on their
                        websites often pays for the cost of running the website, and therefore often allows you to use
                        the website without
                        having to pay a registration or usage fee. Like many businesses, we place adverts for our
                        services on a range of our
                        partners’ websites. However, to try and ensure that the adverts you see are relevant to you, we
                        use cookies to collect
                        information about the types of things that interest you, for example websites you visit and your
                        geographic location.
                        Having these cookies does not increase the number of adverts you will be shown, but simply makes
                        the adverts you see
                        more relevant. In addition, they limit the number of times you see an advertisement, as well as
                        helping us measure the
                        effectiveness of our advertising campaigns.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-7" title="How to turn off all cookies and consequences of doing so">
                <ng-template ngbPanelContent>
                    <p>
                        If you do not want to accept any cookies, you may be able to change your browser settings so
                        that cookies (including
                        those which are essential to the services requested) are not accepted. If you do this, please be
                        aware that you may lose
                        some of the functionality of our website.
                        <br><br>
                        For further information about cookies and how to disable them please go to the guidance on
                        cookies published by the UK
                        Information Commissioner’s Office, <a href="https://www.aboutcookies.org/'">www.aboutcookies.org</a> or <a
                        href="https://www.allaboutcookies.org/">www.allaboutcookies.org</a>.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-8" title="How to contact us">
                <ng-template ngbPanelContent>
                    <p>
                        Please contact us if you have any questions about this cookie policy or the information we hold
                        about you. If you wish
                        to contact us, please contact us at <a href="mailto:privacy@thenutricosmeticcompany.com"
                            target="_blank">privacy@thenutricosmeticcompany.com</a> or in
                        writing at The
                        Nutricosmetic Company, 85
                        Great Portland Street, London, W1W 7LT, United Kingdom.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-9" title="Do you need extra help?">
                <ng-template ngbPanelContent>
                    <p>
                        If you would like this notice in another format (for example: audio, large print, braille)
                        please contact us (see ‘How
                        to contact us’ above).
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-10" title="Changes to this policy">
                <ng-template ngbPanelContent>
                    <p>
                        This policy was published on Friday 11th December 2020 and may be subject to change from time to
                        time.
                    </p>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>