<div class="EmptyState">
<div class="Container">
    <h3 class="EmptyState__Title Heading u-h5">404</h3>
    <p class="empty_page_msg">It looks like there was a problem</p>
    <p class="EmptyState__Description Text--subdued">The page you are looking for cannot be found.</p>
    <div class="loyalty_btn">
   

    <button type="submit" class="shop-now" [routerLink]="['/']">HOMEPAGE</button>
    <button type="submit" class="shop-now" [routerLink]="['/contact-us']">Contact us</button>
    </div>
  </div>
</div>
