<div class="container" id="investors">
    <div class="text-start row justify-content-md-center">
        <div class="col-md-auto">
            <h2 class="quick_menu_title">GIFT CARDS</h2>
        </div>
    </div>
    <div class="row justify-content-md-center">

        <div class="col-md-auto">

            The Perfect Gift Every Time!

        </div>
        <br><br>
    </div>
    <div class="row justify-content-md-center">

        <div class="col-md-auto">

            Need Help? Call +44 203 855 5733 | <a href="mailto:hello@thenutricosmeticcompany.com">Email Customer Care</a> | <a [routerLink]="['/faqs']">FAQ’s </a>| <a
            [routerLink]="['/orders-shipping']">Orders & Shipping</a>
            <br><br>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-auto" class="about_des">
            <p>Spoil your loved ones with an eGift card from The Nutricosmetic Company.
            </p>
            <p>Perfect if you’re looking for that last-minute gift - No shipping address is required, just select your desired amount in GBP, EUR, USD or AUD and head
                straight to checkout. Your gift card with be emailed directly to your chosen recipient with your own personal message
                ...It’s as easy as that!
            </p>


        </div>
    </div>

            <button type="button" class="shop-now">Shop Now</button>
      

    <div class="row justify-content-md-center" class="about_des">
        <div class="col-md-auto">
            <p>For more information please vist our gift card <a [routerLink]="['/faqs']">FAQ's.</a>
            </p>

        </div>
    </div>

</div>