<div class="container">
    <div class="text-start row justify-content-md-center">
        <div class="col-md-auto">
            <h2 class="quick_menu_title">DISCLAIMER</h2>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">

            Need Help? Call +44 203 855 5733 | <a href="">Email Customer Care</a> | <a href="">FAQ’s </a>| <a
                href="">Orders & Shipping</a>
                <br><br>
        </div>
    </div>    

    <div class="row justify-content-md-center">
        <div class="col-md-auto">
         <p>We pride ourselves on our transparency, that’s why we want to ensure that you understand that the
            information which is provided on this website is not intended to be medical advice, nor does it replace
            professional medical advice, diagnosis or treatment. The products listed on our site from our Brand Partners
            should not be used to treat, cure or prevent any medical condition. We make no guarantee as to the results
            that you may experience from using the products or the information, we make available on our site.
        </p>
        <p>The results you experience from using the products will depend on many factors, including but not limited to
            your age, gender, skin type and condition, concomitant products used, health history, where you live,
            climate,
            humidity, lifestyle and diet.
        </p><br>
        <p>Please check with your health practitioner before making any changes to your diet or taking supplements or
            herbs, especially if you are pregnant or have a health condition. Always read instructions for use
            carefully. If
            you rely on any of the information provided on this website, you do so at your own risk.</p>
<br><br><br>
        
    </div>
</div>  

    
    </div>