<div class="row mt-4">
    <div class="col-12 mt-3 text-start">
        <h2 class="quick_menu_title">EGIFT CARDS FAQS</h2>
    </div>
    <div class="col-12 accordion-items-footer-pages">
        <ngb-accordion [closeOthers]="true" activeIds="tab-1">
            <ngb-panel id="tab-1" title="Buying an eGift Card">
                <ng-template ngbPanelContent>
                    <p>Simply go to our <a href="">eGift Cards</a> page, and select the design you want
                        <br><br>
                        Choose how much you would like to give
                        <br><br>
                        Add the recipient’s name, email address and a personal message (option)
                        <br><br>
                        Select a delivery date or you can select the ‘Today’ button to send the eGift Card now.
                        <br><br>
                        Add the eGift Card to your shopping bag to checkout.
                        <br><br>
                        The gift card will be emailed to the recipient and a delivery receipt will be emailed to you.
                        <br><br>
                        <br><br>
                        To purchase multiple gift cards, simply keep adding to your shopping bag.
                        <br><br>
                        <br><br>
                        For more help, please email <a href="">hello@thenutricosmeticcompany.com</a> or call 0203 855
                        5733 (UK) or +44
                        203 855 5733 (from a
                        mobile or internationally), 9am - 6pm GMT, Mon-Fri.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-2" title="How To Redeem">
                <ng-template ngbPanelContent>
                    <p>
                        If you haven't done so already, please <a href="">register</a> for The Nutricosmetic Company
                        account. Then sign
                        in, select ‘My Account’
                        and under ‘My eGift Cards’ enter your gift card code. Alternatively, you can redeem on the
                        payment page when making your
                        purchase. Your gift card amount will then be automatically deducted as payment on your next
                        order.
                        <br><br>
                        <br><br>
                        Please note:
                        <br><br>
                        If your gift card exceeds the total order amount, the remaining balance will automatically be
                        credited to your Account.
                        <br><br>

                        If your order exceeds the value of the eGift Card, and you have existing store credit on your
                        account, this will
                        automatically be redeemed to cover the remaining balance.
                        <br><br>

                        All remaining balances exceeding the value of your eGift Card or store credit must be paid by
                        credit or debit card.
                        <br><br>

                        You can check your balance and full details of each credit and debit that you have made by
                        signing in, selecting ‘My
                        Account’ and then ‘My eGift Cards’.
                        <br><br>

                        Once you have added a gift card to your account, only you can spend it. The balance will then be
                        valid for 12 months.
                        <br><br>
                        <br><br>
                        To find out about extending gift card validation dates, please email
                        <a href="">hello@thenutricosmeticcompany.com</a> or call 0203 855
                        5733 (UK) or +44 203 855 5733 (from a mobile or internationally), 9am - 6pm GMT, Mon-Fri.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-3" title="Returns">
                <ng-template ngbPanelContent>
                    <p>
                        Gift cards cannot be returned or exchanged for a card refund. All returned items that were paid
                        for with a gift card
                        will be refunded as a ‘store credit’ to your account for you to use against a future purchase.
                        <br><br>
                        If you return an item paid by both gift card and credit card, you will be refunded on your
                        credit card up to the amount
                        of your initial card payment and the remaining amount will be refunded as store credit.
                        <br><br>
                        To return an item that you have purchased with a gift card, see <a href="">here</a>.
                        <br><br>
                        For more information, please see our <a href="">Terms and Conditions</a>.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-4" title="Your Security Is Important To Us">
                <ng-template ngbPanelContent>
                    <p>
                        This is an extra measure we use for your security and is known as a Completely Automated Public
                        Turing test to tell
                        Computers and Humans Apart, or CAPTCHA, and lets us know that you are a person placing an order.
                        You will need to enter
                        the words exactly as they appear into the box next to them to continue with your payment.
                        <br><br>
                        <br><br>

                        Helpful hints: Make sure you use a space between each word if there is more than one word, and
                        then click submit. If you
                        prefer, you can also hear the words spoken, simply click on the speaker symbol.
                        <br><br>
                        <br><br>

                        For more help, please email <a href="">hello@thenutricosmeticcompany.com</a> or call 0203 855
                        5733 (UK) or +44
                        203 855 5733 (from a
                        mobile or internationally), 9am - 6pm GMT, Mon-Fri.
                    </p>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>