<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="card card-outline-secondary">
                    <div class="card-header">
                        <h3 class="mb-0">Change Password</h3>
                    </div>
                    <div class="card-body">
                        <form class="form" role="form" autocomplete="off" [formGroup]="form" (ngSubmit)="submit()">

                            
                            <div class="form-group">
                                <label for="inputPasswordNew">New Password</label>
                                <input type="password" class="form-control" id="inputPasswordNew" required="" formControlName="password"
                                >
                                
                                <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
                                    <div *ngIf="f.password.errors?.required">Password is required.</div>
                                </div>
                            </div>
                            <br>

                            <div class="form-group">
                                <label for="inputPasswordNewVerify">Confirm password</label>
                                <input type="password" class="form-control" id="inputPasswordNewVerify" required="" formControlName="confirm_password">
                                
                                <div *ngIf="f.confirm_password.touched && f.confirm_password.invalid" class="alert alert-danger">
                                    <div *ngIf="f['confirm_password'].errors?.['required']">Password is required.</div>
                                    <div *ngIf="f['confirm_password'].errors?.['confirmedValidator']">Password and Confirm Password must be match.</div>
                                    

                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-lg float-right">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>