<div class="container">
    <div class="text-start row justify-content-md-center">
        <div class="col-md-auto">
            <h2 class="quick_menu_title">ADVERTISING</h2>
        </div>
    </div>
    <div class="row justify-content-md-center">
       
        <div class="col-md-auto">

            Advertise With Us
            
        </div>
        <br><br>
    </div>   
    <div class="row justify-content-md-center">
       
        <div class="col-md-auto">

            Need Help? Call +44 203 855 5733 | <a href="">Email Customer Care</a> | <a href="">FAQ’s </a>| <a
                href="">Orders & Shipping</a>
                <br><br>
        </div>
    </div>    

    <div class="row justify-content-md-center">
        <div class="col-md-auto">
         <p>We operate a platform purpose-built to connect the nutricosmetic ecosystem worldwide and are the only truly global digital marketplace at a scale where lovers of beauty and wellness can shop for an unrivaled range of incredible products from anywhere in the world.
        </p>
        <p>Grow your business and increase sales with our online advertising solutions that help you find, attract, and engage with customers. Whether you are looking to boost brand awareness or increase conversions, you will be interested in discovering our customized advertising solutions we can offer to your business on The Nutricosmetic Company.
        </p><br>
  
        
    </div>
</div> 

<div class="text-start row justify-content-md-center">
    <div class="col-md-auto">
        <h2 class="quick_menu_title">WANT MORE INFO?</h2>
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-md-auto">
     <p>For further details on advertisement opportunities across our platform, contact our team of in-house specialists.
    </p>
    

    
</div>
</div> 


<div class="row justify-content-md-center">
    <div class="col-md-auto">
        <button type="button" class="add-address-btn">contact us</button>
        <br><br>
</div>

</div>  

<div class="row justify-content-md-center">
    <div class="col-md-auto">
     <p>For any other questions? Please read our <a href="">Terms & Conditions</a>.
    </p>

</div>
</div> 
    
    </div>