<footer class="px-3 footer-wrapper">
    <div class="container-xll">
        <div class="row m-0">
            <div class="col-12 col-md-12 col-lg-3 mb-3">
                <h5>BEAUTY BENEATH THE SURFACE</h5>
                <p>The Nutricosmetic Company is the destination for those looking for inspiration, solutions and expert
                    advice
                    on beauty that truly starts beneath the surface. We are a dedicated team of beauty and wellness
                    devotees on
                    the hunt for the best beauty and wellness products the world has to offer. Unlock glowing skin,
                    glossy locks
                    to a healthy gut with our wide range of products and dedicated support. </p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                                <use xlink:href="#twitter"></use>
                            </svg></a></li>
                    <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                                <use xlink:href="#instagram"></use>
                            </svg></a></li>
                    <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                                <use xlink:href="#facebook"></use>
                            </svg></a></li>
                </ul>
            </div>

            <div class="col-12 col-md-12 col-lg-3 mb-3 ps-lg-5">
                <h5>CAN WE HELP YOU?</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="javascript:void(0);" class="nav-link p-0 text-muted">Contact
                            Us</a></li>
                    <li class="nav-item mb-2"><a href="javascript:void(0);" class="nav-link p-0 text-muted">How To
                            Shop</a></li>
                    <li class="nav-item mb-2"><a href="javascript:void(0);" class="nav-link p-0 text-muted">Orders &
                            Shipping</a>
                    </li>
                    <li class="nav-item mb-2"><a href="javascript:void(0);" class="nav-link p-0 text-muted">Payment &
                            Pricing</a>
                    </li>
                    <li class="nav-item mb-2"><a href="javascript:void(0);" class="nav-link p-0 text-muted">Returns &
                            Exchanges</a></li>
                    <li class="nav-item mb-2"><a href="javascript:void(0);" class="nav-link p-0 text-muted">FAQs</a>
                    </li>
                    <li class="nav-item mb-2"><a href="javascript:void(0);" class="nav-link p-0 text-muted">Terms &
                            Conditions</a>
                    </li>
                    <li class="nav-item mb-2"><a href="javascript:void(0);" class="nav-link p-0 text-muted">FAQs</a>
                    </li>
                    <li class="nav-item mb-2"><a href="javascript:void(0);" class="nav-link p-0 text-muted">About</a>
                    </li>
                    <li class="nav-item mb-2"><a href="javascript:void(0);" class="nav-link p-0 text-muted">Privacy
                            Policy</a>
                    </li>
                    <li class="nav-item mb-2"><a href="javascript:void(0);" class="nav-link p-0 text-muted">Cookie
                            Policy</a></li>
                    <li class="nav-item mb-2"><a href="javascript:void(0);"
                            class="nav-link p-0 text-muted">Disclaimer</a></li>
                    <li class="nav-item mb-2"><a href="javascript:void(0);"
                            class="nav-link p-0 text-muted">Accessibility</a></li>
                </ul>
            </div>

            <div class="col-12 col-md-12 col-lg-3 mb-3">
                <h5>ABOUT US</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="javascript:void(0);" class="nav-link p-0 text-muted">About Us</a>
                    </li>
                    <li class="nav-item mb-2"><a href="javascript:void(0);" class="nav-link p-0 text-muted">Customer
                            Promise</a>
                    </li>
                    <li class="nav-item mb-2"><a href="javascript:void(0);" class="nav-link p-0 text-muted">Gift
                            Cards</a></li>
                    <li class="nav-item mb-2"><a href="javascript:void(0);" class="nav-link p-0 text-muted">Refer A
                            Friend</a>
                    </li>
                    <li class="nav-item mb-2"><a href="javascript:void(0);" class="nav-link p-0 text-muted">Beauty
                            Beneath The
                            Surface</a></li>
                    <li class="nav-item mb-2"><a href="javascript:void(0);"
                            class="nav-link p-0 text-muted">Partnerships</a></li>
                    <li class="nav-item mb-2"><a href="javascript:void(0);" class="nav-link p-0 text-muted">Careers</a>
                    </li>
                    <li class="nav-item mb-2"><a href="javascript:void(0);"
                            class="nav-link p-0 text-muted">Affiliates</a></li>
                    <li class="nav-item mb-2"><a href="javascript:void(0);"
                            class="nav-link p-0 text-muted">Investors</a></li>
                    <li class="nav-item mb-2"><a href="javascript:void(0);"
                            class="nav-link p-0 text-muted">Advertising</a></li>
                    <li class="nav-item mb-2"><a href="javascript:void(0);" class="nav-link p-0 text-muted">Conscious
                            Beauty</a>
                    </li>
                </ul>
            </div>

            <div class="col-12 col-md-12 col-lg-3 mb-3">
                <form>
                    <h5>BE THE FIRST TO KNOW</h5>
                    <p>Subscribe to receive updates, access to exclusive deals, and so much more!</p>
                    <div class="">
                        <label for="newsletter1" class="visually-hidden">Email address</label>
                        <input id="newsletter1" type="text" class="form-control" placeholder="Enter your email address">
                        <button class="shop-now-btn mt-3" type="button">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 text-end justify-content-end">
            <p class="mb-0 me-3 ms-auto">&copy; The Nutricosmetic Company</p>

        </div>
    </div>
</footer>