<div class="row mt-4">
    <div class="col-12 mt-3 text-start">
        <h2 class="quick_menu_title">TERMS & CONDITIONS
        </h2>
    </div>
    <div class="col-12 accordion-items-footer-pages">
        <ngb-accordion [closeOthers]="true" activeIds="tab-1">
            <ngb-panel id="tab-1" title="Customer Terms">
                <ng-template ngbPanelContent>
                    <span class="quick_menu_subtitle">1. About Our Terms</span>
                    <br><br>
                    1.1 These Terms, and any document referred to in these Terms, explain how you may use our ecommerce
                    platform (<span class="quick_menu_subtitle text-capitalize">The
                        Nutricosmetic Company Market</span>) specialising in nutricosmetics, beauty and wellness
                    products which
                    connects buyers (you)
                    with Sellers (the <span class="quick_menu_subtitle text-capitalize">Services</span>). If there is a
                    discrepancy between these Terms and any additional
                    documents referred to in
                    these Terms, these Terms shall prevail.
                    <br><br>
                    1.2 References in these Terms to The Nutricosmetic Company Market includes the website and all
                    associated web pages.
                    <br><br>
                    1.3 You should read these Terms carefully before using The Nutricosmetic Company Market.
                    <br><br>
                    1.4 By accessing or using The Nutricosmetic Company Market, you agree to be bound by these Terms and
                    the documents
                    referred to in them.
                    <br><br>
                    1.5 If you do not agree with or accept any of these Terms or any of our other information or
                    policies, you should stop
                    using The Nutricosmetic Company Market immediately.
                    <br><br>
                    1.6 If you are acting on behalf of a company or other entity and you do not have the authority to
                    accept these Terms on
                    behalf of the company or other entity, you should stop using The Nutricosmetic Company Market
                    immediately.
                    <br><br>
                    1.7 If you have any questions about The Nutricosmetic Company Market, please contact our Customer
                    Care team at
                    <a href="mailto:hello@thenutricosmeticcompany.com" target="_blank">hello@thenutricosmeticcompany.com</a>.
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>
