/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~font-awesome/css/font-awesome.min.css";
* {
    box-sizing: border-box;
  }

  @font-face {
    font-family: Futura LT;
    src: url(assets/font/futura/FuturaLT.ttf);
}

body {
    font-family: 'Futura LT', sans-serif !important;
}

button {
  font-size: 9px !important;
  letter-spacing: 3px;
}