<div class="row mt-4">
    <div class="col-12 mt-3 text-start">
        <h2 class="quick_menu_title">RETURNS & EXCHANGES</h2>
    </div>
    <div class="col-12 accordion-items-footer-pages">
        <ngb-accordion [closeOthers]="true" activeIds="tab-1">
            <ngb-panel id="tab-1" title="Our Returns Policy">
                <ng-template ngbPanelContent>
                    <p>
                        Our simple returns policy means that you can shop with peace of mind at The Nutricosmetic
                        Company.
                        <br><br>
                        If for any reason you are not satisfied with your purchase you can return your goods within 14
                        days of receipt, and we
                        will be happy to offer you an exchange or a refund excluding the original cost of delivery. This
                        is on condition that
                        the products are returned complete, in perfect condition, unused and with the original inner and
                        outer packaging, and
                        meet the requirements of our Returns Policy below.
                        <br><br>

                        Please take care when opening your purchases and return them in the same condition you received
                        them. Any returns that
                        do not meet our policy will not be accepted. Returned items must comply with our returns policy:
                        <br><br>

                        <span class="quick_menu_subtitle">NUTRICOSMETICS, VITAMINS & SUPPLEMENTS</span>
                        <br><br>

                        Given the nature of these products, we do not provide refunds or exchanges unless the product is
                        unused, unopened and
                        sealed in their original packaging and in a re-saleable condition.
                        <br><br>
                        <span class="quick_menu_subtitle">FOOD & OTHER CONSUMABLES</span>
                        <br><br>

                        These items are final sale and cannot be returned due to the perishable nature of these items.
                        <br><br>
                        <span class="quick_menu_subtitle">HAND BLENDED COSMETICS</span>
                        <br><br>

                        Given the nature of these products, we do not provide refunds or exchanges unless the product is
                        unused, unopened and
                        sealed in their original packaging and in a re-saleable condition.
                        <br><br>
                        <span class="quick_menu_subtitle">TOILETRIES, FRAGRANCES & CANDLES</span>
                        <br><br>

                        Toiletries and cosmetics must be returned unused, unopened, with the seals of any packaging
                        still intact, and in their
                        original packaging. Please note that fragrance, candles and aerosols are final sale and cannot
                        be returned due to
                        transport restrictions.
                        <br><br>
                        <span class="quick_menu_subtitle">PRODUCTS & BOOKS</span>
                        <br><br>

                        Please only remove the protective cover and packaging of all of products and books once you are
                        certain that you wish to
                        keep them. Returns will only be accepted if items are in the original packaging, unused and in a
                        re-saleable condition.
                        <br><br>
                        <span class="quick_menu_subtitle">LIMITED EDITION PRODUCTS & COLLECTABLES</span>
                        <br><br>

                        As these items are highly collectible, please only remove the protective cover and packaging
                        once you are certain that
                        you wish to keep them.
                        <br><br>
                        <span class="quick_menu_subtitle">TECHNOLOGY</span>
                        <br><br>

                        Technology products should be returned in the original packaging.
                        <br><br>
                        <span class="quick_menu_subtitle">GIFT RETURNS</span>
                        <br><br>

                        To arrange a gift return, please email <a href="">hello@thenutricosmeticcompany.com</a> for
                        further assistance.
                        <br><br>
                        <span class="quick_menu_subtitle">LATE RETURNS</span>
                        <br><br>

                        Your item(s) should be sent back to us within 14 days of receiving you order. Returns outside
                        this timeframe may be
                        accepted at the discretion of The Nutricosmetic Company and may only be refunded as a ‘store
                        credit’.
                        <br><br>
                        <span class="quick_menu_subtitle">FAULTY GOODS</span>
                        <br><br>
                        Goods are classified as faulty if they are not of satisfactory quality, fit for purpose or as
                        described. Please note
                        that items which are damaged or as a result of normal wear and tear; by accident; or through
                        misuse will not be
                        considered faulty.
                        <br><br>
                        If your item is faulty when you receive it, you can return it for a refund within 14 days from
                        the date you received it.
                        If you have owned your item for longer than this, and certainly over 6 months, then please
                        contact our <a href="">Customer Care
                            Team</a>.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-2" title="Change of Mind">
                <ng-template ngbPanelContent>
                    <p>
                        Depending on where you live, you can also choose to cancel your order under the CCRs (Consumer
                        Contracts (Information,
                        Cancellation and Additional Charges) Regulations 2013). If you choose this option, we will
                        refund you the full price for
                        any returned item that meets our Returns Policy and the original delivery fee; however, you will
                        be responsible for the
                        cost and arrangement of returning the item(s) to our Brand Partner(s) you ordered from.
                        <br><br>

                        Please view our <a href="">Terms & Conditions</a> for further information on cancelling an order
                        under the CCRs or contact our Customer
                        Care Advisors for assistance.
                        <br><br>

                        You have the right to cancel your order with us. You can do this by email us at <a
                            href="">hello@thenutricosmeticcompany.com</a> or
                        calling us on 0203 855 5733 (UK) or +44 203 855 5733 (from a mobile or internationally), 9am -
                        6pm GMT, Mon-Fri.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-3" title="Returning Your Purchase">
                <ng-template ngbPanelContent>
                    <p>
                        We are pleased to offer a returns collection service to all our customers for any purchase that
                        meets our Returns
                        Policy.
                        <br><br>

                        Your returned item must be delivered to the Brand partner it was ordered from no later than 14
                        days after your delivery
                        date. We recommend that you book your return pick-up within 7 days of your delivery date to
                        ensure that it arrives at
                        the relevant Brand Partner’s location within 14 days.
                        <br><br>
                        <span class="quick_menu_subtitle">TO BOOK A RETURNS PICK-UP:</span>
                        <br><br>

                        Go to 'My Orders & Returns' if you have an account, or click here to start a return if you
                        placed an order as a guest.
                        <br><br>

                        Choose a return ‘By courier’ and select the item(s) for return.
                        <br><br>

                        Confirm your pick up address and a convenient collection time.
                        <br><br>

                        We will send you a collection confirmation email with all the details you need to complete the
                        return. If you are
                        returning items to multiple Partners, you will need to request a separate collection for each
                        one in your account
                        or here if you placed your order as a guest.
                        <br><br>

                        Please note: We can only offer a free return pick up from the same destination your order was
                        delivered to.
                        <br><br>
                        <span class="quick_menu_subtitle">WHAT HAPPENS NEXT?</span>
                        <br><br>

                        Prepare your package with the returns documents enclosed in your order. Here’s how:
                        <br><br>

                        Attach the Return Label, and a signed Return Note if you received one, to the outside of The
                        Nutricosmetic Company box.
                        <br><br>

                        Place any unwanted items with all original packaging inside The Nutricosmetic Company box and
                        leave it open for the
                        courier to check the contents.
                        <br><br>

                        Keep a copy of the Return Label, as you can check the delivery status of your parcel with our
                        carrier using the tracking
                        number provided.
                        <br><br>

                        For more help, please email hello@thenutricosmeticcompany.com or call 0203 855 5733 (UK) or +44
                        203 855 5733 (from a
                        mobile or internationally), 9am - 6pm GMT, Mon-Fri..
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-4" title="Refunds">
                <ng-template ngbPanelContent>
                    <p>
                        Once your return has been received and accepted by our Brant Partner, your refund will be
                        completed via the original
                        payment method, excluding the delivery costs. We’ll keep you updated every step of the way. You
                        can follow the return of
                        your package with our carrier using the tracking number on your Returns Label, or you can check
                        the status in My Account
                        under ‘Orders & Returns’.
                        <br><br>
                        If you are eligible, we may be able to issue your refund as ‘store credit’ if you prefer; the
                        amount will effortlessly
                        apply at checkout the next time you shop with us.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-5" title="Faulty Goods">
                <ng-template ngbPanelContent>
                    <p>
                        It is our aim that every item arrives in great condition and we hope you’re always thrilled with
                        your purchase. If you
                        receive an item in a flawed or damaged condition, or if it doesn’t quite match the description
                        on site, please advise
                        Customer Care by emailing <a href="">hello@thenutricosmeticcompany.com</a>, as soon as possible.
                        We will arrange a return and process a
                        full refund for the defective item.
                        <br><br>
                        We will ask you to provide photographs of the damage, including the packaging if possible, via
                        email. Please note
                        without the correct information and supply of images, we will not be able to investigate the
                        issue. We will then arrange
                        a collection and process a full refund for the defective item upon inspection.
                        <br><br>
                        Please note that refunds can take up to 10 working days to show on your account due to varying
                        processing times between
                        payment providers.
                        <br><br>
                        If your order has been sent to a destination within the EU, all sales taxes will be refunded.
                        Outside the EU, customs
                        duties and sales taxes are non-refundable through The Nutricosmetic Company. However, you may be
                        able to recover these
                        by contacting your local customs bureau or by hiring a customs broker.
                        <br><br>
                        We currently refund any applicable sales tax and/or duties for orders originally delivered to
                        and returned from
                        Australia, UAE, Saudi Arabia, Bahrain, Kuwait, Qatar, Oman, Singapore and Switzerland.
                        <br><br>
                        To notify us of a faulty item, please email <a href="">hello@thenutricosmeticcompany.com</a> or
                        call 0203 855 5733 (UK) or +44 203 855
                        5733 (from a mobile or internationally), 9am - 6pm GMT, Mon-Fri.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-6" title="Repeated Returns">
                <ng-template ngbPanelContent>
                    <p>
                        We offer a flexible returns policy to make your online shopping experience even easier. We do
                        monitor the number of
                        returns made by customers and continued returns in breach of our terms and conditions will be
                        flagged and may, at our
                        discretion, lead to the closure of your account or future orders being refused.
                        <br><br>
                        If this applies to your account, we will be in touch.
                    </p>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="tab-7" title="Website Security">
                <ng-template ngbPanelContent>
                    <p>
                        To help ensure that your shopping experience is safe, simple and secure The Nutricosmetic
                        Company uses Secure Socket
                        Layer (SSL) technology. This encrypts and protects the data you send to us over the internet. If
                        SSL is enabled then you
                        will see a padlock at the top of your browser and you can click on this to find out information
                        about the SSL digital
                        certificate registration.
                        <br><br>

                        You will also notice that when you look at the location (URL) field at the top of the browser
                        you will see it begin with
                        'https:' instead of the normal 'http:'. This means that you are in secure mode.
                        <br><br>

                        The Nutricosmetic Company is registered with Cybertrust as an authentic site. This ensures that
                        your information is kept
                        private while in transit between your web browser and our web server.
                        <br><br>

                        We keep your personal data private and confidential and only give it out with your consent or if
                        legally permitted to.
                        For further details, please see our <a href="">Privacy Policy</a>.
                    </p>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>
